<p>The major scale is just a group of notes that follow a special pattern - one that humans happen to really love. In fact, we love these notes so much that the vast majority of the songs you hear on the radio are built using just these seven notes played in a unique sequence.  Doesn’t that seem remarkable?
</p>

<p>One set of these notes corresponds to the white keys on the piano. To hear them, click the play button.
</p>

<h4>The Major Scale</h4>

<theorytab 
		video-path="1/1/C-Major-Scale"
		tab-id="3078"
		url-vars="showChords=false&showMelody=false&sPK=3078&bShowToolKit=true&bBookMode=true&measuresInSegment=1&sHarmonyMelodySelectorDefaultValue=Melody&sFile=DNALive&bGrayInstrumentLabels=true&bClickToLoad=true&startPixY=90"
></theorytab>

<p>
Before you criticize this particular ordering of notes as uninteresting and not very musical, know that listening to them in this order is the equivalent of looking at an I-beam sitting on a construction site. However, when re-ordered, these seven notes can create almost every song you know and love. In other words, the white keys of the piano are all you need.  Let’s listen to a few:
</p>

<ol>
	<li>“Over The Rainbow” from the motion picture <i>The Wizard of Oz</i> (1939)</li>
	<li>“Basketcase” by Green Day (1994)</li>
	<li>“A Whole New World” from the motion picture <i>Aladdin</i> (1992)</li>
	<li>“Hey Jude” by The Beatles (1968)</li>
	<li>“Blowin’ In The Wind” by Bob Dylan (1963)</li>
	<li>“Bad Romance” by Lady Gaga (2009)</li>
</ol>

<h4>Medley With the Major Scale</h4>

<theorytab 
		video-path="1.1-medley-in-c-major"
		tab-id="4542"
		url-vars="sPK=4542&bShowToolKit=true&showChords=false&showMelody=false&bGrayInstrumentLabels=true&bShowInstrumentOnStart=true&bRelativeNotation=false&sHarmonyMelodySelectorDefaultValue=Melody&bClickToLoad=true&soundTrackPad=0&startPixY=90"
></theorytab>


<p>
To be clear, there is nothing special about these specific songs that makes this possible; they were chosen simply because they are iconic and recognizable.
</p>

<h3>The Many Major Scales</h3>

<p>
The first note in the scale we just showed you happened to be C, but a major scale can actually be played starting from any note on the piano. Other major scales make use of the black keys, but they all sound basically the same, and any one of them can play all the songs you just heard.
</p>

<p>
The fact that a major scale can start on any note is the reason songs are said to be written in a “key” like C or F or G - the key indicates the starting note of the scale that the song uses. For example, every song in the medley you just heard used the notes from the C major scale (since the starting note of the scale was C), so they are said to be played in the key of C. The original recordings of these songs don’t all use this particular major scale, but I bet you couldn’t tell and didn’t care; you still heard each song just as you remembered it.
</p>

<p>
The fact that a major scale can start on any note is convenient for singers because it allows them to sing songs in the key that is most comfortable for their vocal range, but it makes trying to understand music a real mess. Consider two frequently used major scales: C major and D major:
</p>

<h4>C Major Scale</h4>
<img src="/assets/img/c-major-scale-gray-labels.png">

<h4>D Major Scale</h4>
<img src="/assets/img/d-major-scale-gray-labels.png">

<p>
Notice that the note D shows up in both scales.  The note D, however, is in a different position in each scale: it’s the second note in the C major scale and the first note in the D major scale.
</p>

<p>
This is important because the way a note is used in a song is determined by its position in the scale rather than its letter name. D plays a completely different role in a song written in C major than a song written in D major.
</p>

<p>
Trying to understand a song by looking at just the names of the notes it contains isn’t very useful because it ignores this fundamental fact. Fortunately, there is a simple solution that makes understanding the structure of a melody and comparing different songs straightforward.
</p>
