<p>
In the previous section you were introduced to the idea of understanding the notes in a song’s melody using a relative system. However, songs usually have many other notes being played besides the melody. These other notes work together to create rich sounds called chords. In this section we will extend the concept of relative notation to chords and learn how to break up a song into its two basic building blocks: its melody and its chords.
</p>

<p>
Just as with the notes in the melody, the notes that form the chords of a song typically limit themselves to the same seven notes of whichever major scale the song happens to use. To give a specific example, there are lots of possible chords in music, but if a song is written in C, you are likely to find that it only uses chords that can be formed using the white keys of the piano.
</p>

<p>
Because there are only seven notes in the major scale, there end up being only seven basic chords that can show up in a given song. Just as we did with melody, labeling these seven possible chords with numbers turns out to be very useful. The first of these chords is built off the first scale degree and for this reason is called the <i>I</i> (“one”) chord.
</p>

<div class="message info">
Since we will now be using numbers to refer to both chords and notes, to avoid confusion, we will use italicized Roman numerals when referring to chords.
</div>

<p>
In addition to using scale degree 1, the <i>I</i> chord also contains the scale degrees 3, and 5. In the key of C, this corresponds to the notes C, E, and G and creates a C major chord.  Let’s listen to scale degrees 1, 3, and 5 of the C major scale.  First we will play each scale degree individually, then we will play scale degrees 1, 3, and 5 (notes C, E, and G) at the same time to create a <i>I</i> chord.
</p>

<h4>Formation of a <i>I</i> Chord</h4>

<theorytab
	video-path="1/3/I-Chord-Triad"
	tab-id="4548"
	url-vars="sPK=4548&showChords=false&bRelativeNotation=true&bShowInstrumentOnStart=true&bBookMode=true&bShowToolKit=true&nToolKitInstrumentYPad=-10&sHarmonyMelodySelectorDefaultValue=Melody&bClickToLoad=true"
></theorytab>

<p>
Now you may be thinking that a simple chord like this with only three notes couldn’t possibly be very useful. After all, songs certainly aren’t limited to playing just three notes at once!
</p>

<p>
It turns out the <i>I</i> chord need not be played with scale degrees 1, 3, and 5 arranged exactly as we just showed you; as long as scale degree 1 is the lowest note, you can reorder the other scale degrees and play any of them more than once. The next example shows a few variations of scale degrees 1, 3, and 5 that also form <i>I</i> chords.
</p>

<h4>Variations of a <i>I</i> Chord</h4>

<!--
<script src="//www.hooktheory.com/hookpad/embed/id/252848?bShowToolKit=true&showChords=false&sHarmonyMelodySelectorDefaultValue=Melody" id="hjs-252848"></script>
-->

<theorytab
	video-path="1/3/I-Chord-Triad-Expanded"
	tab-id="4562"
	url-vars="showChords=false&bRelativeNotation=true&bShowInstrumentOnStart=true&bBookMode=true&bShowToolKit=true&sHarmonyMelodySelectorDefaultValue=Melody&bClickToLoad=true&nToolKitInstrumentYPad=-10"
></theorytab>


<p>
This means that even if it looks like a chord has a lot of notes in it, it’s often likely still just playing three distinct scale degrees corresponding to one of the basic chords.
</p>

<p>
We’ve been showing you a lot of pianos, but this all works the same way regardless of instrument. If you put your fingers on the following frets of a guitar and strum, the strings will play the labeled notes, also resulting in a <i>I</i> chord in the key of C:
</p>

<img src="/assets/img/c-major-on-guitar.png">

<p>
Note that even though five strings are played, only three distinct scale degrees are involved: 1, 3, and 5 of the C major scale.  Scale degrees 1 and 3 (red, and yellow) are repeated twice.  The majority of standard chords on guitar play all six strings yet only involve three distinct notes.
</p>

<h3>
The <i>ii</i> Chord
</h3>

<p>
The other six basic chords are built just like the <i>I</i> chord. The <i>ii</i> chord (“two” chord) is built from scale degree 2 of the major scale and contains scale degrees 2, 4, and 6. Let’s listen to scale degrees 2, 4, and 6 of a major scale starting on the note C. First we will play each scale degree individually, then we will play scale degrees 2, 4, and 6 at the same time to create a <i>ii</i> chord.
</p>

<h4>Formation of a <i>ii</i> Chord</h4>


<theorytab
	video-path="1/3/ii-Chord-Triad"
	tab-id="4549"
	url-vars="showChords=false&bRelativeNotation=true&bShowInstrumentOnStart=true&bBookMode=true&bShowToolKit=true&sHarmonyMelodySelectorDefaultValue=Melody&bClickToLoad=true&nToolKitInstrumentYPad=-10"
></theorytab>

<p>
In the key of C, the <i>ii</i> chord corresponds to a D minor chord. Minor chords have a different sound than major chords (the <i>I</i> chord you heard before is a major chord). The reason for this turns out to be a difference in the relative spacing between the scale degrees that make up the chords. In the next graphic, we illustrate this on the piano by counting the notes between scale degrees 1 and 3 in the key of C (notes C and E), and comparing it to the number of notes between scale degrees 2 and 4 in the key of C (notes D and F). This spacing difference between the scale degrees that make up each chord causes the chords to have a different sound.
</p>


<h4>Major Quality, e.g. <i>I</i></h4>
<img src="/assets/img/quality-major-I.jpg">



<h4>Minor Quality, e.g. <i>ii</i></h4>
<img src="/assets/img/quality-minor-ii.jpg">


<!--
<img src="img/Major-Vs-Minor-Mark-Up.png">
-->

<p>
When people compare the sounds of major and minor chords, they often say minor chords sound more dissonant and “somber”, while major chords are more “bright” sounding.
</p>

<p>
To make it immediately obvious whether a chord has a minor quality or a major quality, we use upper case Roman numerals for major chords and lower case Roman numerals for minor chords.  This means that we’ll always refer to the second chord as a <i>ii</i> chord (not a <i>II</i> chord) because it is minor.
</p>

<!--
<p>The next movie shows the <i>I</i> and <i>ii</i> chords side-by-side; see if you can hear the difference between the major and minor qualities.</p>

-->

<h3>
“Block” Representation for Chords
</h3>

<p>
Since it would be inconvenient to always show the individual scale degrees that make up a chord, we’ll often use a simple “block” representation for chords, as shown below.
</p>

<!--
<script src="//www.hooktheory.com/hookpad/embed/id/252861?" id="hjs-252861"></script>

-->


<h4>Block Representation of Chords</h4>

<theorytab
	video-path="1/3/Block-Notation"
	tab-id="4564"
	url-vars="bBookMode=true&sRhythmAlgorithm=display&bClickToLoad=true&nToolKitInstrumentYPad=-10"
></theorytab>


<p>
The color of the block reminds you of the scale degree that the chord is built on. For example, <i>I</i> chords are built off the first scale degree so they have a red block. In addition, the Roman numeral name of the chord is inside the box. Notice that the <i>ii</i> chord block, for example, is the same for two different arrangements of scale degrees 2, 4, and 6. That is because any combination of scale degrees 2, 4, and 6 create a <i>ii</i> chord as long as scale degree 2 is the lowest note.
</p>

<h3>
The Other Basic Chords
</h3>

<p>
The other five basic chords are built just like the <i>I</i> and <i>ii</i> chords so it’s not necessary to go through each one individually. The next example shows the scale degrees that make up each of the seven basic chords and the Roman numeral “block” notation for each chord.
</p>


<h4>Scale Degrees of Basic Chords</h4>
<theorytab
	video-path="1/3/Key-Selector"
	tab-id="4864"
	url-vars="sRhythmAlgorithm=NoChords&bRelativeNotation=true&bShowInstrumentOnStart=true&bShowToolKit=true&bShowKey=true&bShowSupportNameGraphicRel=true&sHarmonyMelodySelectorDefaultValue=Melody&nToolKitInstrumentYPad=-10"
></theorytab>

<p>
The <i>IV</i> chord, for example, contains scale degrees 4, 6, and 1; the <i>V</i> chord contains scale degrees 5, 7, and 2.  Notice that of the seven possible basic chords, three have a major quality indicated by an upper-case Roman numeral (<i>I</i>, <i>IV</i>, and <i>V</i>), and three have a minor quality indicated by a lower-case Roman numeral (<i>ii</i>, <i>iii</i>, and <i>vi</i>).  The last chord, <i>vii&deg;</i>, is neither major nor minor; its quality is called diminished (represented by lower case numeral with a degree sign next to it). The <i>vii&deg;</i> chord, however, is not as common in popular music so it will be treated later.</p>



<!--
<p>You may have noticed that we added something extra to this movie next to the play button - we call it the key selector.  If you check the box that says “display notes and chords in this key” (Flash-enabled browsers only), it shows the names of the scale degrees (1, 2, 3, ...) and chords (<i>I</i>, <i>ii</i>, <i>iii</i>, ...) in the key that is active (shown in red).  The default key is C, but you can click any of the keys in the list.</p>
-->


<!--
Update 2014.02.17 CNA:  Adding some brains here to show slightly different copy based on
if we are on mobile (where we don’t have a key selector and have to show a swipable
carousel) or when we are on web and have Flash and the key selector
-->


<!-- Flash enabled (have key selector) -->

<div ng-if="flashEnabled">
	<p>
		This example contains two new features:

		<ol class="ol-decimal">
			<li>
				Just below each chord block are chord names.  For example, below the <i>I</i> chord, it says “<i>C</i>”; below the <i>ii</i> chord it says “<i>dm</i>”.  These are the names of the chords (<i>I</i>, <i>ii</i>, <i>iii</i>, ...) when the major scale starts on the note C.  Minor chords use lower-case letters, followed by a lower-case “m”.
			</li>
			<li>
			  Next to the play button, there is a gray button with a red border that says “C Major”. This is the “key selector”. If you click on the key selector, you can change the scale to any other major scale. For example, if you select the A major scale, the chord names change to <i>A</i>, <i>bm</i>, <i>c#m</i>, <i>D</i>, ... and the notes on the piano shift so the scale starts on the note A.  If you select the D major scale, the chord names change to <i>D</i>, <i>em</i>, <i>f#m</i>, <i>G</i>, ... and the notes on the piano shift so the scale starts on the note D.  The key selector panel also has a pull-down for something called the “mode”; but we won’t cover modes until <i>Hooktheory II</i> (the sequel to this book).
			  </li>
		</ol>
	</p>
</div>

<!-- Flash disabled (Carousel) -->


<div  	ng-if="!flashEnabled">
	<p>
		If you swipe through the images in the carousel below, you can see the names of the scale degrees (1, 2, 3, ...) and chords (<i>I</i>, <i>ii</i>, <i>iii</i>, ...) in each of the twelve keys.  For example, if you swipe to the the A major scale (the second image in the carousel),  the chord names change to <i>A, bm, c#m, D,</i> ... and the notes on the piano shift so the scale starts on the note A.  If you swipe to the the D major scale (the sixth image in the carousel), the chord names change to <i>D, em, f#m, G,</i> ... and the notes on the piano shift so the scale starts on the note D.
	</p>
</div>

<div 	ng-if="!flashEnabled">
	<div 	ng-include src="'templates/key-selector.html'"></div>
</div>

	<!--
	You may have noticed that we added something extra to this example.  T a "key" button (web only) and chord names below each Roman numeral.  If you click the "key" button, you can expand the settings and change the notation to "Standard (C, D, E)" to show the names of the scale degrees (1, 2, 3, ...) and chords (<i>I</i>, <i>ii</i>, <i>iii</i>, ...) in the key that is active (shown in red).  The default key is C, but you can click any of the keys in the list.
	-->
