<p>
Songs are constructed by playing a series of chords one at a time in sequence. Sequences of chords are called chord progressions, and many of the later parts of this book will explore how chords within a chord progression are chosen to make a pleasing sound. <!--The study of how chords work together to create great music is called Harmony.--> An example of a chord progression is shown below. Click play to hear how it sounds: 
</p>

<h4><i>vi</i> &rarr; <i>IV</i> &rarr; <i>V</i> &rarr; <i>I</i> &rarr; <i>IV</i> &rarr; <i>V</i> Chord Progression</h4>

<theorytab
	video-path="1/4/Bon-Jovi-Chords-Hit-Once"
	tab-id="4616"
	url-vars="bRelativeNotation=true&bShowInstrumentOnStart=false&sHarmonyMelodySelectorDefaultValue=Melody&bBookMode=true&enableYoutube=false&noEditEnableInstrumental=true&bClickToLoad=true&sFile=DNALive&sRhythmAlgorithm=display"
></theorytab>

<p>
To reinforce the connection between the block representation and the scale degrees it represents, the next example shows the implied arrangement of scale degrees on the relative staff.  Notice that in most of the chords, some of the scale degrees are played more than once.
</p>


<h4><i>vi</i> &rarr; <i>IV</i> &rarr; <i>V</i> &rarr; <i>I</i> &rarr; <i>IV</i> &rarr; <i>V</i> Arrangement of Scale Degrees</h4>

<theorytab
	video-path="1/4/Bon-Jovi-Chord-Voice-Full-With-Chords"
	tab-id="4617"
	url-vars="sRhythmAlgorithm=display&bRelativeNotation=true&bShowInstrumentOnStart=false&sHarmonyMelodySelectorDefaultValue=Melody&bBookMode=true&enableYoutube=false&melodyOctaveOffset=-2&noEditEnableInstrumental=true&bClickToLoad=true&sFile=DNALive"
></theorytab>

<h3>
Combining Chords and Melody
</h3>

<p>
The chord progression you just heard is starting to sound like music, but it really needs a melody to sound complete. In a previous section, we showed you the melody to “Livin’ On A Prayer” by Bon Jovi (it had scale degrees 1-1-1-7-6-5-3-4-4).  The next example adds this melody to the chord progression you just heard.  Click play to hear how it sounds:
</p>

<h4>“Livin On A Prayer” by Bon Jovi</h4>

<theorytab
	video-path="1/4/Intro-Bon-Jovi-Full-Hit-Once"
	tab-id="4450"
	url-vars="showChords=true&bRelativeNotation=true&bShowInstrumentOnStart=false&sHarmonyMelodySelectorDefaultValue=Melody&bBookMode=true&enableYoutube=true&noEditEnableInstrumental=true&bClickToLoad=true&sFile=DNALive&sRhythmAlgorithm=display"
></theorytab>

<p>
This generic reproduction of “Livin’ On A Prayer” by Bon Jovi shows that the raw chords and melody capture much of what makes a song recognizable.  Even though the example uses a generic arrangement for the chords, the chords and melody are immediately recognizable as “Livin’ On A Prayer” (assuming, of course, that you know the song).  That’s because underneath all of the sparkle and shine, it’s the basic building blocks of a song that give it its overall character: its chords and melody.
</p>
