<p>
To recap: most popular music can be reduced to just two basic building blocks: the melody, which can be represented by just seven different scale degrees played in some sequence; and the chords, which can be represented by just seven different Roman numerals played in some sequence.
</p>

<p>
The goal of this book is to teach you the rules and structure behind chord progressions, melody, and their relationship to one another, so you can understand the how and the why behind it all and hopefully apply it to your own playing or songwriting endeavors.
</p>

<h3>
A quick note about classical music
</h3>

<p>
Before we begin, there’s one last thing you should know: while this discussion has been centered around “popular” music, know that much of classical music is governed by the same principles. If classical music is your thing, the topics we cover in this book will go a long way to helping you understand how classical music is structured as well.
</p>

<p>
Below is a short passage playing the raw chords and melody from Mozart’s famous “Eine Kleine Nachtmusik” shown in relative notation.
</p>

<h4>“Eine Kleine Nachtmusik” by Mozart</h4>

<theorytab
	video-path="1/5/Eine-Kleine"
	tab-id="4456"
	url-vars="showChords=true&bRelativeNotation=true&bShowInstrumentOnStart=false&sHarmonyMelodySelectorDefaultValue=Melody&bBookMode=true&enableYoutube=false&noEditEnableInstrumental=true&sFile=DNALive"
></theorytab>


<p>
Even though Mozart was a master at arranging a room full of instruments to play many different notes in unison, it can all be broken down to the same simple melody and chord components that we’ve been talking about (in this case the entire ensemble has been reduced to just two chords: <i>I</i> and <i>V</i>!)
</p>
