
<p>
These optional exercises will give you practice going between the relative system that this book uses (1, 2, 3, ... <i>I</i>, <i>ii</i>, <i>iii</i>)  and the conventional note / chord names you may already be familiar with (C, D, E, ... <i>C</i>, <i>dm</i>, <i>em</i>). Use the key selector, below, to help you answer each question.
</p>

<div 	ng-if="!flashEnabled">
	<div ng-include src="'templates/key-selector.html'"></div>
</div>

<div ng-if="flashEnabled">
  <h4>Scale Degrees of Basic Chords</h4>
  <theorytab
	video-path="1/3/Key-Selector"
	tab-id="4864"
	url-vars="sRhythmAlgorithm=NoChords&bRelativeNotation=true&bShowInstrumentOnStart=true&bBookMode=true&bShowToolKit=true&bShowKey=true&bShowSupportNameGraphicRel=true&sHarmonyMelodySelectorDefaultValue=Melody&nToolKitInstrumentYPad=-10&bClickToLoad=true"
></theorytab>
</div>

<div class="list card">
	<div class="item item-divider">
		Converting from relative notation into a key
  	</div>
  	<div class="item item-text-wrap">

		<p>In this exercise you will convert scale degrees into note names in a specific key.</p>

		<p><b>Part 1 of 6:</b> In the key of C major, scale degree 1 corresponds to which note?</p>


		<button class="button button-block button-positive button-outline"
			ng-click="show_0a = !show_0a">
			Show Answer
		</button>

		<div ng-if="show_0a === true" class="content message info">
			C
		</div>


		<p><b>Part 2 of 6:</b> In the key of C major, scale degree 4 corresponds to which note?</p>


		<button class="button button-block button-positive button-outline"
			ng-click="show_0b = !show_0b">
			Show Answer
		</button>

		<div ng-if="show_0b === true" class="content message info">
			F
		</div>


		<p><b>Part 3 of 6:</b> In the key of G major, scale degree 4 corresponds to which note?</p>


		<button class="button button-block button-positive button-outline"
			ng-click="show_0c = !show_0c">
			Show Answer
		</button>

		<div ng-if="show_0c === true" class="content message info">
			C
		</div>

		<p><b>Part 4 of 6:</b> In the key of G major, scale degree 7 corresponds to which note?</p>


		<button class="button button-block button-positive button-outline"
			ng-click="show_0d = !show_0d">
			Show Answer
		</button>

		<div ng-if="show_0d === true" class="content message info">
			F♯
		</div>


		<p><b>Part 5 of 6:</b> In the key of E major, scale degree 7 corresponds to which note?</p>


		<button class="button button-block button-positive button-outline"
			ng-click="show_0e = !show_0e">
			Show Answer
		</button>

		<div ng-if="show_0e === true" class="content message info">
			D♯
		</div>

		<p><b>Part 6 of 6:</b> In the key of E major, scale degree 3 corresponds to which note?</p>


		<button class="button button-block button-positive button-outline"
			ng-click="show_0f = !show_0f">
			Show Answer
		</button>

		<div ng-if="show_0f === true" class="content message info">
			G♯
		</div>

  	</div>
</div>




<div class="list card">
	<div class="item item-divider">
		Converting from a key into relative notation
  	</div>
  	<div class="item item-text-wrap">

		<p>In this exercise you will convert note names in a key into scale degrees.</p>

		<p><b>Part 1 of 7:</b> In the key of C major, the note D corresponds to which scale degree?</p>


		<button class="button button-block button-positive button-outline"
			ng-click="show_1a = !show_1a">
			Show Answer
		</button>

		<div ng-if="show_1a === true" class="content message info">
			2
		</div>


		<p><b>Part 2 of 7:</b> In the key of C major, the note A corresponds to which scale degree?</p>


		<button class="button button-block button-positive button-outline"
			ng-click="show_1b = !show_1b">
			Show Answer
		</button>

		<div ng-if="show_1b === true" class="content message info">
			6
		</div>


		<p><b>Part 3 of 7:</b> In the key of G major, the note A corresponds to which scale degree?</p>


		<button class="button button-block button-positive button-outline"
			ng-click="show_1c = !show_1c">
			Show Answer
		</button>

		<div ng-if="show_1c === true" class="content message info">
			2
		</div>

		<p><b>Part 4 of 7:</b> In the key of G major, the note E corresponds to which scale degree?</p>


		<button class="button button-block button-positive button-outline"
			ng-click="show_1d = !show_1d">
			Show Answer
		</button>

		<div ng-if="show_1d === true" class="content message info">
			6
		</div>


		<p><b>Part 5 of 7:</b> In the key of E major, the note E corresponds to which scale degree?</p>


		<button class="button button-block button-positive button-outline"
			ng-click="show_1e = !show_1e">
			Show Answer
		</button>

		<div ng-if="show_1e === true" class="content message info">
			1
		</div>

		<p><b>Part 6 of 7:</b> In the key of E major, the note F♯ corresponds to which scale degree?</p>


		<button class="button button-block button-positive button-outline"
			ng-click="show_1f = !show_1f">
			Show Answer
		</button>

		<div ng-if="show_1f === true" class="content message info">
			2
		</div>

		<p><b>Part 7 of 7:</b> In the key of G major, the note F♯ corresponds to which scale degree?</p>


		<button class="button button-block button-positive button-outline"
			ng-click="show_1g = !show_1g">
			Show Answer
		</button>

		<div ng-if="show_1g === true" class="content message info">
			7
		</div>

  	</div>
</div>


<div class="list card">
	<div class="item item-divider">
		Converting from relative notation into a key
  	</div>
  	<div class="item item-text-wrap">

		<p>In this exercise you will convert chord progressions from relative notation (Roman numerals) into a specific key.</p>

		<p><b>Part 1 of 2:</b> What is <i>I</i> &rarr; <i>V</i> &rarr; <i>I</i> &rarr; <i>IV</i> in the key of C major?</p>


		<button class="button button-block button-positive button-outline"
			ng-click="show1 = !show1">
			Show Answer
		</button>

		<div ng-if="show1 == true" class="content message info">
			<i>C</i> &rarr; <i>G</i> &rarr; <i>C</i> &rarr; <i>F</i>
		</div>


		<p><b>Part 2 of 2:</b> What is <i>I</i> &rarr; <i>V</i> &rarr; <i>I</i> &rarr; <i>IV</i> in the key of G major?</p>

		<button class="button button-block button-positive button-outline"
			ng-click="show2 = !show2">
			Show Answer
		</button>

		<div ng-if="show2 == true" class="content message info">
			<i>G</i> &rarr; <i>D</i> &rarr; <i>G</i> &rarr; <i>C</i>
		</div>

  	</div>
</div>




<div class="list card">
	<div class="item item-divider">
		Converting from a key into relative notation
  	</div>
  	<div class="item item-text-wrap">


		<p>In this exercise you will convert chord progressions in a specific key into relative notation (Roman numerals).</p>


		<p>
		“U And Ur Hand” by P!nk is written in the key of G major. The chords to the first part of the chorus are: <i>em</i> &rarr; <i>C</i> &rarr; <i>G</i> &rarr; <i>D</i>.
		</p>

		<h4>“U And Ur Hand” by P!nk</h4>

		<theorytab
			video-path="1.6-Pink-U-And-Ur-Hand"
			tab-id="260938"
			url-vars="showMelody=false&bRelativeNotation=false&bShowKey=true&bShowSupportNameGraphic=false"
		></theorytab>

		<p><b>Part 1 of 2:</b>  What are the chords to “U And Ur Hand” in relative notation (Roman numerals)?</p>

		<button class="button button-block button-positive button-outline"
			ng-click="show3 = !show3">
			Show Answer
		</button>

		<div ng-if="show3 == true" class="content message info">
		 	<i>vi</i> &rarr; <i>IV</i> &rarr; <i>I</i> &rarr; <i>V</i>
		</div>


		<p><b>Part 2 of 2 (Challenge Question):</b>  Using the key selector and your answer from the last question, what would the chords to “U And Ur Hand” be if the song was instead written in the key of A major?</p>


		<button class="button button-block button-positive button-outline"
			ng-click="show4 = !show4">
			Show Answer
		</button>



		<div ng-if="show4 == true" class="content message info">
			<i>f#m</i> &rarr; <i>D</i> &rarr; <i>A</i> &rarr; <i>E</i> (<i>vi</i> &rarr; <i>IV</i> &rarr; <i>I</i> &rarr; <i>V</i> in the key of A major)
		</div>


  	</div>
</div>



<p>
Alright! Hopefully those exercises helped reinforce the connection between the relative system (1, 2, 3 ... <i>I</i>, <i>ii</i>, <i>iii</i>) and the conventional note names you may be already familiar with (C, D, E, ... <i>C</i>, <i>dm</i>, <i>em</i>).
</p>
