<p>The first chord we’re going to learn about is the <i>I</i> chord, which is composed of scale degrees 1, 3, and 5 of the major scale. The <i>I</i> chord in our relative system is the chord that corresponds to the key of the song. For instance, if a song uses the G major scale, <i>I</i> is a <i>G</i> chord.  If a song uses the C major scale, the <i>I</i> is a <i>C</i> chord.</p>

<p><i>I</i> chords have a specific feel or sound to them that is consistent even between songs that are written in entirely different keys. This, remember, is the reason for abstracting out the actual key and referring to chords with Roman numerals in the first place.</p>

<p>The function of the <i>I</i> chord in a song is to serve as a kind of “home base”. Some people say that <i>I</i> sounds comforting or safe, or that it creates a mood that feels familiar and reassuring. However, it’s somewhat difficult to describe in words exactly what it means to sound like “home base”, much like it would be difficult to explain to someone what a color looks like.</p>

<h3>Learning the Sound of a <i>I</i> Chord</h3>

<p>To get a feel for what the <i>I</i> chord sounds like, we will listen to a couple of chord progressions and try to identify when the <i>I</i> chord occurs.  From now on, we will play examples with a simple rhythm so they sound more realistic.  Listen to the following chord progression and try to hear which chords sound like “home base”. Aside from the first chord, there are two other <i>I</i> chords. </p>

<h4>Identify the Location of the <i>I</i> Chords</h4>

<theorytab
	video-path="2/1/Harmony-01-Journey"
	tab-id="3328"
	url-vars="showAlternateCheckbox=true&bShowAlternates=true&noEditEnableInstrumental=true&noEditPlayMode=0"
></theorytab>

<div 	ng-if="!flashEnabled">
	
	<button class="button button-block button-positive button-outline"
		ng-click="revealChords = !revealChords">
		Reveal the chords
	</button>

	<div ng-if="revealChords == true">
		<img src="/assets/img/2-1-Journey-Reveal.png">
	</div>
</div>


<p>If you haven’t already done so, you can click the “?” button to reveal the chord names. Now that you can see where the <i>I</i> chords are, try playing the example again and see if you can feel that the progression is “home” whenever the <i>I</i> chords play. It takes most people time to build up an ear for this kind of thing so don’t worry if you couldn’t pick the chords out.</p>

<p>Let’s try the same exercise with a different chord progression. Just like the previous progression, this one starts and ends on <i>I</i>; but this one also includes a melody. After you settle on an answer, click the “?” button to see the chords.</p>

<h4>Identify the Location of the <i>I</i> Chords</h4>

<theorytab
	video-path="2/1/Harmony-02-Beatles"
	tab-id="3353"
	url-vars="showAlternateCheckbox=true&bShowAlternates=true&showMelody=false&noEditEnableInstrumental=true"
></theorytab>

<div ng-if="!flashEnabled">
	
	<button class="button button-block button-positive button-outline"
		ng-click="revealChords = !revealChords">
		Reveal the chords
	</button>

	<div ng-if="revealChords == true">
		<img src="/assets/img/2-1-the-beatles-reveal.png">
	</div>
</div>

<p>How did you do?  These examples are typical of many chord progressions in that they start and end on <i>I</i>. Of course, a song wouldn’t be very interesting if it only used <i>I</i> chords. In the next section, we’ll learn how some of the other chords fit in so you can start understanding and writing actual songs.</p>
