<p>Of the seven basic chords, certain chords are a lot more common than others. Because of its role as “home base”, the <i>I</i> chord shows up in almost every song, but it might surprise you that the <i>IV</i> and <i>V</i> chords are just as common.</p>

<p>To visualize this, we used the songs in Hooktheory’s tab database to calculate the rates at which each of the basic chords shows up in popular music:</p>

<img src="/assets/img/Harmony-I-Chord-Popularity.svg">

<p>As this chart shows, <i>IV</i> and <i>V</i> are really popular. The reason these chords are so common is that they play an important function in music; one almost as important as <i>I</i>'s home base role.</p>


<p>The primary function of <i>IV</i> and <i>V</i> is to complete and give closure to a chord progression and set up a smooth transition back to a <i>I</i> chord. This transition back to <i>I</i> is known in music as a cadence, and chords used to set up the cadence are called <b>cadence chords</b>.</p>

<p>While it may not seem like we’ve told you much, you’ve actually already learned a great deal. You now know how to start and end a musical idea.</p>

<h3>Basic Song Structure</h3>

<p>The most common form of chord progressions is depicted in the figure below. The phrase starts on a <i>I</i>, does something else, then ends with a cadence chord indicated by the letter “C” to set up another phrase starting on <i>I</i>.</p>

<img src="/assets/img/Harmony-I-Cadence.png">
￼
<p>Let’s listen to a couple songs that follow this basic structure. The first one we’ll look at is “Blowin’ In The Wind” by Bob Dylan:</p>

<h4>“Blowin’ In The Wind” by Bob Dylan</h4>

<theorytab
	video-path="2/2/Harmony-01-Dylan-Cadence"
	tab-id="5181"
	url-vars="bShowAlternates=true&showMelody=false&noEditEnableInstrumental=true"
></theorytab>

<p>Another example of a song following this structure is “I Don’t Want To Miss A Thing” by Aerosmith:</p>

<h4>“I Don’t Want To Miss A Thing” by Aerosmith</h4>

<theorytab
	video-path="2/2/Harmony-02-Aerosmith-Cadence"
	tab-id="5180"
	url-vars="bShowAlternates=true&showMelody=false&noEditEnableInstrumental=true"
></theorytab>

<div class="list card">
	<div class="item item-divider">
    	Review
  	</div>
  	<div class="item item-text-wrap">

   		What chord do chord progressions usually start on?
		<ol type="a">
			<li><i>IV</i></li>
			<li><i>V</i></li>
			<li><i>I</i></li>
			<li>It doesn’t matter</li>
		</ol>


		<button class="button center button-positive button-block button-outline"
			ng-click="show1 = !show1">
			Show the answer
		</button>


		<div ng-if="show1 == true" class="content message info">
			c. <i>I</i>
		</div>
  	</div>
</div>



<p>One important feature of popular music, and something not as common in classical music, is the role of chord progression repetition. Often short chord progressions consisting of as few as three or four chords are played over and over again to create a groove. To link these repeating progressions together, a cadence chord allows the song to transition immediately to the beginning of the next progression. Check out the figure below to see what we mean:</p>

<h4>Repeating Four-Chord Progression</h4>
<img src="/assets/img/Harmony-I-Repetition.png">

￼
<p>Let’s listen to a real example of a song that follows this pattern - “Free Fallin’” by Tom Petty:</p>

<h4>“Free Fallin’” by Tom Petty</h4>
<theorytab
	video-path="2/2/Harmony-03-Petty-Repetition"
	tab-id="5179"
	url-vars="bShowAlternates=true&showMelody=false&noEditEnableInstrumental=true"
></theorytab>

<p>All of the songs shown so far have used the <i>V</i> chord to set up the end of the progression. <i>V</i> is generally a stronger cadence chord than <i>IV</i>. In longer phrases where the progression has been away from the <i>I</i> for a while, <i>V</i> is usually a better choice than <i>IV</i> to wrap things up because it reemphasizes the home base more forcefully. Using a <i>V</i> followed by a <i>I</i> is a great way to reorient the listener’s ear.</p>


<p>That being said, the <i>IV</i> chord is also often used as a cadence chord. This is especially true in songs using short repeating chord progressions. “You Belong With Me” by Taylor Swift is an example of a song with a repeating chord progression that uses <i>IV</i> as a cadence chord.</p>

<h4>“You Belong With Me” by Taylor Swift</h4>

<theorytab
	video-path="2/2/Harmony-04-Swift-Repetition"
	tab-id="5178"
	url-vars="bShowAlternates=true&showMelody=false&noEditEnableInstrumental=true"
></theorytab>

<p>Of course, rules like this are meant to be broken, and we’ll see lots of examples that don’t follow this exact form.</p>

<h3>Songs Using <i>I</i>, <i>IV</i>, and <i>V</i></h3>


<p>In the previous section, we showed you the basic structure that chord progressions follow. A musical idea will usually begin on a <i>I</i>, and then do something before ending on a cadence chord. That “something” often involves the other chords we haven’t talked about yet. That’s not always the case, however. There are many famous songs that use exclusively these three chords. In fact, you just heard a few.  Let’s take another look at “Blowin’ in the Wind” by Bob Dylan, this time with all of the chords revealed: </p>


<h4>“Blowin’ in the Wind” by Bob Dylan</h4>

<theorytab
	video-path="2/2/Harmony-05-Dylan"
	tab-id="5173"
	url-vars="noEditMode=true&showMelody=false&noEditEnableInstrumental=true"
></theorytab>

<p>Like the other examples you’ve seen so far, this progression starts on a <i>I</i> and ends on a strong <i>V</i> &rarr; <i>I</i>. In the middle, there is a lot of freedom to decide what to do with the other chords.</p>

<p>Here are a few more examples that use a repeating chord progression structure. “Free Fallin’” by Tom Petty also uses a <i>V</i> chord to transition to the second repetition of the progression.</p>

<h4>“Free Fallin’” by Tom Petty</h4>

<theorytab
	video-path="2/2/Harmony-06-Tom"
	tab-id="5177"
	url-vars="bShowAlternates=true&showMelody=false&noEditEnableInstrumental=true"
></theorytab>

<p>“Push” by Matchbox 20 is another example of a song using a <i>V</i> chord as the cadence chord to end a repeating four chord progression.</p>

<h4>“Push” by Matchbox 20</h4>
<theorytab
	video-path="2/2/Harmony-07-Matchbox"
	tab-id="5176"
	url-vars="bShowAlternates=true&showMelody=false&noEditEnableInstrumental=true"
></theorytab>

<p>“The Lazy Song” by Bruno Mars uses another simple chord progression that uses <i>IV</i> as its cadence chord:</p>

<h4>“The Lazy Song” by Bruno Mars</h4>

<theorytab
	video-path="2/2/Harmony-08-Bruno-Mars"
	tab-id="5174"
	url-vars="bShowAlternates=true&showMelody=false&noEditEnableInstrumental=true"
></theorytab>

<h3>Staying Grounded in a Particular Key</h3>

<p>If you’re new to the relative system, you might find it helpful to convert from Roman numbers to conventional chord names every once in a while to remind yourself what chords the Roman numerals represent.</p>

<div 	ng-if="flashEnabled">
	<p> The following example will help you with this.  It shows each chord in Roman numerals with its “in-key” name below the chord block.  The default key is C Major, but you can change the key to any other key using the key selector on the top right.  This lets us see, for example, that the progression <i>I</i> &rarr; <i>IV</i> &rarr; <i>V</i> corresponds to <i>C</i> &rarr; <i>F</i> &rarr; <i>G</i> in the key of C Major, <i>G</i> &rarr; <i>C</i> &rarr; <i>D</i> in the key of G Major and <i>D</i> &rarr; <i>G</i> &rarr; <i>A</i> in the key of D Major.</p>

	<theorytab
		video-path="1/3/Key-Selector"
		tab-id="4864"
		url-vars="sRhythmAlgorithm=NoChords&bRelativeNotation=true&bShowInstrumentOnStart=true&bBookMode=true&bShowKey=true&bShowSupportNameGraphicRel=true&sHarmonyMelodySelectorDefaultValue=Melody&nToolKitInstrumentYPad=0&bClickToLoad=true"
	></theorytab>

</div>


<div ng-if="!flashEnabled">
	<p>
		The following image carousel will help you with this. It’s just like the one you saw in Chapter 1.  It shows each chord in Roman numerals with its “in-key” name below the chord block.  This lets us see, for example, that the progression <i>I</i> &rarr; <i>IV</i> &rarr; <i>V</i> corresponds to <i>C</i> &rarr; <i>F</i> &rarr; <i>G</i> in the key of C Major, <i>G</i> &rarr; <i>C</i> &rarr; <i>D</i> in the key of G Major and <i>D</i> &rarr; <i>G</i> &rarr; <i>A</i> in the key of D Major.
	</p>

	<div ng-include src="'templates/key-selector.html'"></div>
</div>

<h3>The Next Most Popular Chord</h3>

<p><i>I</i>, <i>IV</i> and <i>V</i> are the most common chords in popular music, but the graphic at the beginning of this section showing the popularity of the different chords also tells us there is another chord that isn’t far behind. In the next section we’ll talk about the most common minor chord, the <i>vi</i>.</p>
