<p>While it is perfectly possible to write a song with only <i>I</i>, <i>IV</i>, and <i>V</i>, most songs do not limit themselves to these chords. One problem is that, as alluded to in Chapter 1, <i>I</i>, <i>IV</i>, and <i>V</i> are all major chords. This lack of variety means that the range of emotions that one can evoke is somewhat limited. One obvious way to make things more interesting is to include a minor chord in the mix, but which one to choose?  Recall that the basic chords consist of the following:</p>

<div ng-if="flashEnabled">
	<theorytab
		video-path="2/3/1-Key-Selector"
		tab-id="4864"
		url-vars="sRhythmAlgorithm=NoChords&bRelativeNotation=true&bBookMode=true&nToolKitInstrumentYPad=0&bClickToLoad=true"
	></theorytab>
</div>

<div ng-if="!flashEnabled">
	<div ng-include src="'templates/key-selector.html'"></div>
</div>


<p>That means our choices for minor chords are <i>ii</i>, <i>iii</i>, and <i>vi</i>.</p>

<p>While <i>ii</i> and <i>iii</i> are both minor chords that would fit the bill, <i>vi</i> is significantly more common. <i>vi</i> is very versatile and can be used in many situations without sounding awkward. It can be used after <i>I</i> and sounds great before or after <i>IV</i>, and <i>V</i>, for example. We’ll learn how <i>ii</i> and <i>iii</i> are used in Chapter 4.</p>

<p>Let’s listen to the chords from “Don’t Stop Believing” by Journey to see how it incorporates the <i>vi</i>. Concentrate on the third chord (the <i>vi</i>) to get a feel for how <i>vi</i> sounds.</p>

<h4>“Don’t Stop Believing” by Journey</h4>
<theorytab
	video-path="2/3/2-Journey"
	tab-id="3791"
	url-vars=""
></theorytab>


<p>This particular progression (<i>I</i> &rarr; <i>V</i> &rarr; <i>vi</i> &rarr; <i>IV</i>) is popular across many genres of popular music and shows up again and again. It has been used in so many songs that people have taken notice. Below are a few songs that have used this progression.</p>

<h4><i>I</i> &rarr; <i>V</i> &rarr; <i>vi</i> &rarr; <i>IV</i> Medley</h4>
<ol>
	<li>“Don’t Stop Believing” by Journey (1981)</li>
	<li>“Let It Be” by The Beatles (1970)</li>
	<li>“She Will Be Loved” by Maroon 5 (2002)</li>
	<li>“Edge Of Glory” by Lady Gaga (2011)</li>
</ol>

<theorytab
	video-path="2/3/3-1564"
	tab-id="4538"
	url-vars="showMelody=false"
></theorytab>

<p>Keep in mind that these songs are not all in the same key and would seem to use different chords if you were to purchase their sheet music or guitar tab. Relative notation, however, makes it easy to see that they all use the same progression.</p>

<p>Lastly, the message to take away from this video is not “all I need to be a pop star is this magical progression!” If your entire song only consisted of these four chords repeated over and over again in this order, it wouldn’t be very interesting. That’s why the songs from the previous example usually don’t rely exclusively on this progression. Other parts of the songs use different chords that complement the <i>I</i> &rarr; <i>V</i> &rarr; <i>vi</i> &rarr; <i>IV</i> so they don’t get old.</p>
