<p>Can one be creative with just the four chords that we’ve learned?  It is reasonable to think that the answer might be no; after all, there’s not that many combinations that you can come up with, and it’s a good bet that a lot of the good ones have already been used.</p>

<p>While things are certainly going to get a lot more interesting when we introduce more complex harmonies, you would be surprised at how much creativity just these four chords allow. One key to being creative is to have a coherent plan for how the different sections of your song will function. We’ll discuss a few of these techniques below.</p>

<p>One way to be creative is to purposely omit a chord in one section of the song. In the verse, for example, you might omit the use of the <i>vi</i>, instead sticking to <i>I</i>, <i>IV</i> and <i>V</i>. This can create a sensation that something is missing, even though your listener may not be able to pinpoint what it is (that “missing” something being the minor sound of the <i>vi</i>). When the <i>vi</i> sounds in the chorus, it will fill that gap and make the progression more effective. As an example, let’s listen again to “Push” by Matchbox 20 for a little longer than we did before. The basic <i>I</i> &rarr; <i>V</i> &rarr; <i>IV</i> &rarr; <i>V</i> progressions lacks a <i>vi</i>, but when it finally sounds on the next line it really changes the tone of the song.</p>

<h4>“Push” by Matchbox 20</h4>

<theorytab
	video-path="2/4/1-Matchbox"
	tab-id="4504"
	url-vars="showMelody=false"
></theorytab>

<p>Another thing you you can try is to end several progressions in a row on the <i>IV</i> which has less pull to <i>I</i> than the <i>V</i>. Then, after getting the listener accustomed to this sound, you can suddenly switch to a more powerful progression ending on the <i>V</i>. The contrast will heighten the effectiveness of this cadence chord and make for a stronger progression.  This technique is used by in the verse of “Love Story” by Taylor Swift, which uses several four-chord progressions of <i>I &rarr; IV &rarr; vi &rarr; IV</i> before swapping a <i>V</i> for the <i>IV</i> on the final time around.</p>


<h4>“Love Story” by Taylor Swift</h4>

<theorytab
	video-path="2.4-Taylor-Swift-Love-Story"
	tab-id="260932"
	url-vars="showMelody=false"
></theorytab>

<p>There are so many ways to be creative with your harmony, and experimenting is what makes songwriting so much fun. Another technique that is common is to experiment with progressions that start away from the home base of the <i>I</i> chord. This might be done in one section of the song, but then switch to something more conventional in the next to add variety. An example of a song that does this is “My Heart Will Go On” by Celine Dion. In the introduction the progression is <i>vi</i> &rarr; <i>V</i> &rarr; <i>IV</i> &rarr; <i>V</i></p>

<h4>“My Heart Will Go On” by Celine Dion (Intro)</h4>

<theorytab
	video-path="2-2017-crf23-r100/2.4-Dion-Intro"
	tab-id="335260"
	url-vars="showMelody=false"
></theorytab>

<p>The <i>vi</i> &rarr; <i>V</i> &rarr; <i>IV</i> &rarr; <i>V</i> repeats twice and lacks the stable home base feel that the <i>I</i> chord provides. When the song switches to the verse starting on the <i>I</i> chord, there is a welcome contrast:</p>

<h4>“My Heart Will Go On” by Celine Dion (Verse)</h4>
<theorytab
	video-path="2/4/3-Celine-Verse"
	tab-id="5455"
	url-vars="showMelody=false"
></theorytab>

<p>By depriving the listener of the <i>I</i> chord for so long, when it finally does sound, the stable feeling associated with the <i>I</i> is magnified.</p>

<p>The hope in presenting these examples is that you will realize that learning the function of chords will allow you to be more creative even if a progression you write has already been used by someone else. Writing a song with a coherent structure where one part is related harmonically to another is important. <!--This is why songs that are composed of chord progressions that are copied blindly out of a book are often not very memorable. Context is everything. --></p>

<p>There is a lot more to learn, and we’re only just getting started. You have enough knowledge about chords to write a song that, while simple, is harmonically coherent. Before we move on and learn about more chords, we are going to switch gears for a bit to talk and talk about the basic structures of good melody.</p>
