
What is the purpose of a cadence chord?
<ol type="a">
	<li>To begin a chord progression</li>
	<li>To finish a chord progression and set up a strong pull back home to the <i>I</i> chord so the song can begin a new phrase or idea.</li>
	<li>To add a minor sound to the chord progression</li>

</ol>

<button class="button button-block button-positive button-outline"
		ng-click="show1 = !show1">
  Show Answer
</button>

<div 	ng-if="show1 == true"
		class="content message info">
	b
</div>

<hr>

Which two chords that we’ve learned can be cadence chords?
<ol type="a">
	<li><i>I</i> and <i>V</i></li>
	<li><i>vi</i> and <i>V</i></li>
	<li><i>IV</i> and <i>I</i></li>
	<li><i>V</i> and <i>IV</i></li>
</ol>

<button class="button button-block button-positive button-outline"
	ng-click="show2 = !show2">
	Show Answer
</button>

<div ng-if="show2 == true" class="content message info">
	d
</div>



<hr>

What is the main difference between <i>V</i> and <i>IV</i> as cadence chords?
<ol type="a">
	<li><i>IV</i> is stronger than <i>V</i></li>
	<li><i>V</i> is stronger than <i>IV</i></li>
	<li>There is no difference</li>
</ol>

<button class="button button-block button-positive button-outline"
	ng-click="show3 = !show3">
	Show Answer
</button>

<div ng-if="show3 == true" class="content message info">
	b
</div>



<hr>

<p>Here are the chords to “Mr. Brightside” by The Killers written in D♭ Major</p>
<theorytab
	video-path="2/5/1-Mr-Brightside"
	tab-id="189067"
	url-vars="bRelativeNotation=false&showMelody=false&bBookMode=true&bShowSupportNameGraphic=false"
></theorytab>

<p>Using the following example with the key selector, what are the chords to “Mr. Brightside” in relative notation?</p>

<div 	ng-if="flashEnabled">
	<theorytab
		video-path="2/5/2-Key-Selector"
		tab-id="4864"
		url-vars="sRhythmAlgorithm=NoChords&bRelativeNotation=true&bBookMode=true&bShowKey=true&bShowSupportNameGraphicRel=true&sKeyForSound=Db&bOverrideXMLKey=true&nToolKitInstrumentYPad=0&bClickToLoad=true"
	></theorytab>
</div>

<div 	ng-if="!flashEnabled">
	<div ng-include src="'templates/key-selector.html'"></div>
</div>


<ol type="a">
	<li><i>IV</i> &rarr; <i>I</i> &rarr; <i>vi</i> &rarr; <i>V</i></li>
	<li><i>I</i> &rarr; <i>V</i> &rarr; <i>iv</i> &rarr; <i>IV</i></li>
	<li><i>iv</i> &rarr; <i>I</i> &rarr; <i>IV</i> &rarr; <i>V</i></li>
	<li><i>I</i> &rarr; <i>IV</i> &rarr; <i>vi</i> &rarr; <i>V</i></li>
</ol>

<button class="button button-block button-positive button-outline"
	ng-click="show4 = !show4">
	Show Answer
</button>

<div ng-if="show4 == true" class="content message info">
	d
</div>


<hr>

There are two cadences in “Mr. Brightside”.  In both cases, what cadence chord is used?

<ol type="a">
	<li><i>IV</i></li>
	<li><i>V</i></li>
	<li><i>vi</i></li>
</ol>

<button class="button button-block button-positive button-outline"
	ng-click="show5 = !show5">
	Show Answer
</button>

<div ng-if="show5 == true" class="content message info">
	b
</div>

<hr>

<p>D♭ is a terrible key for guitarists (especially if they have misplaced their capo). Often times when a song is in a difficult key, we would like to rewrite it in a different (and preferably easier) key to play on an instrument. This is known as transposition.</p>

<p>What are the chords to “Mr. Brightside” in the key of G Major? (Hint: use the above example with the key selector to help you with the conversion)</p>
<ol type="a">
	<li><i>G</i> &rarr; <i>D</i> &rarr; <i>em</i> &rarr; <i>C</i></li>
	<li><i>G</i> &rarr; <i>C</i> &rarr; <i>am</i> &rarr; <i>D</i></li>
	<li><i>G</i> &rarr; <i>C</i> &rarr; <i>em</i> &rarr; <i>D</i></li>
	<li><i>G</i> &rarr; <i>D</i> &rarr; <i>C</i> &rarr; <i>em</i></li>
</ol>


<button class="button button-block button-positive button-outline"
	ng-click="show6 = !show6">
	Show Answer
</button>

<div ng-if="show6 == true" class="content message info">
	c.  Since the song is <i>I</i> &rarr; <i>IV</i> &rarr; <i>vi</i> &rarr; <i>V</i>, this corresponds to <i>G &rarr; C &rarr; em &rarr; D</i> in the key of G Major.
</div>


<hr>

<p>Now let’s take a look at the chorus of “Who Knew” by Pink, written in A Major.</p>

<theorytab
	video-path="2/5/3-Pink"
	tab-id="4627"
	url-vars="bRelativeNotation=false&bShowSupportNameGraphic=false&showMelody=false&bBookMode=true&noEditEnableInstrumental=true"
></theorytab>

<p>What are the chords to this section in relative notation?</p>

<ol type="a">
	<li><i>IV</i> &rarr; <i>I</i> &rarr; <i>vi</i> &rarr; <i>I</i></li>
	<li><i>IV</i> &rarr; <i>vi</i> &rarr; <i>I</i> &rarr; <i>V</i></li>
	<li><i>V</i> &rarr; <i>vi</i> &rarr; <i>IV</i> &rarr; <i>I</i></li>
	<li><i>IV</i> &rarr; <i>V</i> &rarr; <i>vi</i> &rarr; <i>I</i></li>
</ol>

<button class="button button-block button-positive button-outline"
	ng-click="show7 = !show7">
	Show Answer
</button>

<div ng-if="show7 == true" class="content message info">
	d
</div>

<p>Notice that the <i>IV</i> &rarr; <i>V</i> &rarr; <i>vi</i> &rarr; <i>I</i> group is repeated three times in a row but not a fourth time.  Ending with <i>vi</i> going to <i>I</i> works fine in the middle of a passage, but it’s not a good way to end a progression. This is what cadence chords are used for. Remember: to end the musical idea strongly a <i>IV</i> or <i>V</i> should be used. The composer chooses to replace the <i>vi</i> with a <i>I</i> so the preceding <i>V</i> can function as a cadence chord to it.</p>
