<p>Writing a good melody can be intimidating to any songwriter. Though there may only be a handful of notes from which to choose, picking the ones that sound good in a given context is often a challenge, and the possibilities are endless. Fortunately, things aren’t nearly as complicated as they appear. </p>

<p>First, most melodies are composed exclusively of the scale degrees one through seven. In other words, a melody will use notes from a given scale corresponding to the key in which the song is written. (When we discuss more complex harmony later, using notes outside of the scale will become possible). <!--, but in the meantime, we will be focusing on working with scale degrees in the key of the song.--></p>


<p>Second, writing a melody can sometimes be much easier when a chord progression has already been selected.  In this case, a harmonic framework is already in place; the notes in the melody should be related to the underlying chords that comprise the harmony. In this chapter, we will discuss how to pick the right notes and how to form the right rhythms to compose a good melody.</p>
