<p>The melody of a <!--popular--> song exists within a rhythmic framework established by the other instruments. This framework, called the meter, gives songs a strong beat and sense of stability and continuity. The beat is what moves people with an innate sense of rhythm to tap their feet or dance without thinking.</p>

<p>The basic rhythmic unit of a song is known as a measure.  When listening to a song, we can usually identify when each measure begins because the first beat of each measure is often more pronounced. As you listen to “Wake Me Up” by Avicii, below, see if you can identify where each measure starts. After you’ve made your guess, click “Show Answer” to reveal the locations of the measures.</p>

<h4>“Wake Me Up” by Avicii</h4>

<!--
<theorytab
	video-path="3/2/1-Change-The-World-No-Measures"
	tab-id=""
	url-vars=""
></theorytab>
-->

<theorytab
	video-path="3/2/1-Avicii-No-Measures"
	tab-id="33437"
	url-vars=""
></theorytab>


<!--
<theorytab
	video-path=""
	tab-id="31043"
	url-vars=""
></theorytab>
-->

<!--
<div class="youtube-container">
	<iframe
	width="560"
	height="315"
	src="http://www.youtube.com/embed/R_C-6oRcS-Q?autohide=1&rel=0&showinfo=0"
	frameborder="0"
	allowFullScreen>
	</iframe>
</div>
-->

<button class="button button-block button-positive button-outline"
	ng-click="show1 = !show1">
	Show Answer
</button>

<div ng-if="show1 == true" class="">
	<!--<img src='img/Melody-Change-The-World-Measures.png'>-->
	<img src="img/Melody-Avicii-Measures.png">

</div>

<p>While listening to “Wake Me Up”, you may have noticed that some beats naturally felt stronger, and others weaker, depending on their location in time.  <!--The first beat of each measure, for example, is the strongest and most pronounced.  The third beat of each measure is also emphasized (though not as much as the first beat).-->In songs with four beats per measure, e.g., “Wake Me Up”, beats 1 and 3 of each measure are generally considered “strong”, while beats 2 and 4 are “weak”.     Listen to “Wake Me Up” again and see if you agree. <!--The added emphasis on the third beat can be rationalized by thinking of the third beat as the beginning of the second half of the measure.--></p>


<p>In the next example, we count out the beats of a four-beat measure.  This so-called “four-beat feel” is part of a class of meters called “simple” meter.  Try and count along with us, giving emphasis to the strong beats (1 and 3) in each measure.</p>

<h4>Simple Meter</h4>


<theorytab
	video-path="3/2/2-Simple-Meter-Voice-Count"
	tab-id=""
	url-vars=""
></theorytab>


<p>The four-beat feel is by far the most common meter in popular music. However, songs employ other rhythmic frameworks as well. The most common alternative has two primary beats, but each of these beats is further subdivided into three for a total of six beats per measure. Because each measure has two different types of subdivisions (two beats then three beats), this type of meter is referred to as compound meter (as opposed to simple meter). With six beats per measure, beats 1 and 4 are strong, where as beats 2, 3, 5, and 6 are weak. In the next video, we count out the six beats in a measure in compound meter.  Try and count along, giving emphasis to the strong beats (1 and 4) in each measure.</p>

<h4>Compound Meter</h4>

<theorytab
	video-path="3/2/3-Compound-Meter-Voice-Count"
	tab-id=""
	url-vars=""
></theorytab>

<!--
<div class="youtube-container">
	<iframe
	width="560"
	height="315"
	src="http://www.youtube.com/embed/lrAEt6JuexA?autohide=1&rel=0&showinfo=0"
	frameborder="0"
	allowFullScreen>
	</iframe>
</div>
-->

<p>“Breakaway” by Kelly Clarkson is an example of a song that uses a compound meter.  Click play to hear how it sounds.  Try counting the six beats aloud as you listen to it, emphasizing beats 1 and 4 of each measure.</p>

<h4>“Breakaway” by Kelly Clarkson</h4>

<theorytab
	video-path="3/2/4-Clarkson"
	tab-id="189064"
	url-vars=""
></theorytab>


<p>Meter in popular music works much like meter in poetry to define the syllables that are stressed. In music, these syllables are the notes that make up the melody. Notes in the melody that are played on strong beats are more important than notes played on weak beats. Notes that fall between beats are even less important. In the next section, we will show how you can take advantage of the way notes are perceived in a melody relative to the beat they are played on to write a more coherent melody. Before we do that though, we need to discuss another property that influences how a given scale degree will affect a melody.</p>


<div class="list card">
	<div class="item item-divider">
    	Review
  	</div>
  	<div class="item item-text-wrap">

   		In simple meter with four beats per measure, label beats 1-4 by their perceived strength.

		<ol type="a">
			<li>1 = strongest; 2 = second strongest; 3 & 4 = weak</li>
			<li>1 & 3 = weak; 2 = strongest; 4 = second strongest</li>
			<li>1 = strongest; 3 = second strongest; 2 & 4 = weak</li>
		</ol>

		<button class="button button-block button-positive button-outline"
			ng-click="show2 = !show2">
			Show Answer
		</button>

		<div ng-if="show2 == true" class="content message info">
			c
		</div>
  	</div>
</div>


<div class="list card">
	<div class="item item-divider">
    	Review
  	</div>
  	<div class="item item-text-wrap">

   		In compound meter with six beats per measure, label beats 1-6 by their perceived strength.

		<ol type="a">
			<li>1 & 4 = strongest; 2 & 5 = second strongest; 3 & 6 = weak</li>
			<li>1 = strongest; 3 = second strongest; 2, 4, 5, & 6 = weak</li>
			<li>1 = strongest; 4 = second strongest; 2, 3, 5 & 6 = weak</li>
		</ol>

		<button class="button button-block button-positive button-outline"
			ng-click="show3 = !show3">
			Show Answer
		</button>

		<div ng-if="show3 == true" class="content message info">
			c
		</div>
  	</div>
</div>
