<!--
<p>While any of the seven scale degrees are possible in a melody, the choices you make will give a very different feel to your song. As mentioned in the introduction, one thing to consider when composing a melody is the notes that are contained in the chord being played at that time. Recall that when a chord is played, it is actually a combination of three scale degrees. For example, when a <i>V</i> chord is being played, the other instruments are playing scale degrees 5, 7 and 2.</p>
-->
<p>We just learned that a note’s position in a measure affects how much importance it has.  Notes on strong beats are more prominent, notes on weak beats are less prominent.  But that is only part of the story. Another factor that influences the melody are the notes contained in the chord being played at that time. Recall that when a chord is played, it is actually a combination of three scale degrees. For example, when a <i>V</i> chord is being played, the other instruments are playing scale degrees 5, 7 and 2.</p>

<p>When a melody contains a note that is also part of the chord being played in the background or accompaniment, there is a sense of stability because the melody is reinforcing the harmony that is being used. Scale degrees in the melody that coincide with the underlying harmony are called <b>stable scale degrees</b>.  Knowing the stable scale degrees of each chord is an extremely important tool for melody writing. For the first few examples in this chapter we will highlight the stable scale degrees in the melody staff above each chord.</p>


<p><b>Unstable scale degrees</b> refer to the scale degrees that are not contained in the underlying harmony.  For a <i>V</i> chord, these are 1, 3, 4, and 6. Similarly, when a <i>IV</i> chord is playing, the stable scale degrees are 4, 6, and 1. The unstable scale degrees are 2, 3, 5, and 7.</p>


<div class="list card">
	<div class="item item-divider">
    	Review
  	</div>
  	<div class="item item-text-wrap">

   		In which of the following chords is scale degree 5 unstable?
		<ol type="a">
			<li><i>V</i></li>
			<li><i>iii</i></li>
			<li><i>ii</i></li>
			<li><i>I</i></li>
		</ol>

		<button class="button button-block button-positive button-outline"
			ng-click="show1 = !show1">
			Show Answer
		</button>

		<div ng-if="show1 == true" class="content message info">
			c. The <i>I</i>, <i>iii</i>, and <i>V</i> chords all contain scale degree 5 while <i>ii</i> is made of scale degrees 2, 4, and 6.
		</div>
  	</div>
</div>


<p>Both stable and unstable scale degrees are important for constructing a good melody. While hanging around stable scale degrees adds security and stability to a melody, spending time on unstable scale degrees adds tension. Tension is a good thing in music, and writing a good melody involves properly balancing these two opposing forces. This balancing act shows up again and again in music, and we’ll come back to it frequently in this book.  To demonstrate how the use of stable and unstable scale degrees affects the feel of a melody, consider the following examples.</p>

<p>The melody in the chorus of “If We Hold On Together” (the theme from the motion picture <i>The Land Before Time</i>) is composed mainly of stable scale degrees. Using only stable scale degrees tends to create safe, pleasant, (but at times predictable) melodies. Depending on the context in which the music is meant to be heard (in this case, a happy scene from a children’s movie), this might be exactly what is desired.</p>

<h4>“If We Hold On Together” by Diana Ross</h4>

<theorytab
	video-path="3/3/01-Ross"
	tab-id="189065"
	url-vars="bStableAlwaysOn=true"
></theorytab>


<p>Unstable scale degrees on the other hand add dissonance since they are not contained in the accompanying chord. The right amount of dissonance can make wonderful melodies; too much dissonance, however can lead to disaster.</p>


<div class="list card">
	<div class="item item-divider">
    	Review
  	</div>
  	<div class="item item-text-wrap">

   		From the perspective of stable vs. unstable scale degrees, which of the two melodies below would you expect to have more tension?

		<ol type="a">
			<!-- Melody-I-Consonant-a.jpg-->
			<!-- Melody-I-Dissonant-a.jpg -->
			<li><img src="img/3/3/ex-stable-vs-unstable-stable.png"></li>
			<li><img src="img/3/3/ex-stable-vs-unstable-unstable.png"></li>
		</ol>

		<button class="button button-block button-positive button-outline"
			ng-click="show2 = !show2">
			Show Answer
		</button>

		<div ng-if="show2 == true" class="content message info">
			b. Melody “a” should be more consonant because all of the scale degrees are stable in the harmony. Melody “b” is made exclusively of unstable scale degrees and will thus have more tension.
		</div>
  	</div>
</div>

<p>Let’s listen to the two melodies below:</p>

<h4>Melody A (Stable Scale Degrees)</h4>

<theorytab
	video-path="3/3/Melody-Stable-02-Consonant"
	tab-id="4531"
	url-vars="bStableAlwaysOn=true"
></theorytab>


<h4>Melody B (Unstable Scale Degrees)</h4>

<theorytab
	video-path="3/3/Melody-Stable-03-Dissonant"
	tab-id="4530"
	url-vars="bStableAlwaysOn=true"
></theorytab>

<p>Just because the unstable scale degrees in the second melody sound particularly toxic should not scare you away from using them entirely. The vast majority of melodies contain a combination of stable and unstable scale degrees. The melody from “Home” by Daughtry is one example of a song that balances stable and unstable scale degrees:</p>

<h4>“Home” by Daughtry</h4>

<theorytab
	video-path="3/3/Melody-Stable-04-Daughtry"
	tab-id="189066"
	url-vars="bStableAlwaysOn=true"
></theorytab>

<p>The amount of tension that an unstable scale degree contributes to a melody is dependent upon several factors. For instance, the location of an unstable scale degree in a measure (i.e. the beat that it falls on) will greatly enhance or reduce the extent to which it feels unstable.</p>

<p>In general, unstable scale degrees in the melody do not contribute much tension to the song if they are played on weak beats. When unstable notes are used on weak beats to link two stable scale degrees together they are called <b>passing notes</b>. Notice that even the very stable “If We Hold On Together” example contains a passing note in the last measure. Using passing notes is a good way to give some life to your melody without adding the tension that comes with an unstable scale degree on a strong beat. Listen below to Melody A from the previous example, except this time adjacent stable scale degrees are connected using passing notes.</p>

<h4>Melody A (With Passing Notes)</h4>
<theorytab
	video-path="3/3/Melody-Stable-05-Consonant-Passing"
	tab-id="4540"
	url-vars="bStableAlwaysOn=true"
></theorytab>

<p>Notice that passing notes, although technically unstable, do not contribute much instability to the melody since they’re not on strong beats.</p>

<p>To hear how a melody sounds with unstable scale degrees on strong beats, listen to “Sun and Moon”, the famous ballad from the musical <i>Miss Saigon</i>:</p>


<h4>“Sun And Moon” from the musical <i>Miss Saigon</i></h4>

<theorytab
	video-path="3/3/Melody-Stable-07-Sun"
	tab-id="4539"
	url-vars="bStableAlwaysOn=true"
></theorytab>

<p>Here the melody generates a lot of tension by putting unstable scale degrees on beat 1 of several measures (see measures 1, 2, 5, 6, 7). This tension however never gets out of hand, because in each case, it is resolved by the following note. For example, in measure 1, scale degree 2 is unstable in the <i>I</i> chord, but resolves to the stable scale degree 3. In measure 7, scale degree 7 is unstable in the <i>vi</i> chord, but resolves to the stable scale degree 1.</p>

<p>Generally, when an unstable scale degree appears on a strong beat (beats 1 or 3 in a four-beat measure, or beats 1 or 4 in a six-beat measure) at some point the melodic line should resolve to the nearest stable scale degree (above or below). This technique of creating tension and resolution is a standard and effective technique for building interesting melodic lines. The key is not to let the tension build up too much (as in Melody B from before), otherwise your melody may be too unstable to resolve.</p>


<p>Let’s take a look at another example in “Mr. Brightside” by The Killers.  At this point, we will remove the stable scale degree highlights on the staff.  We challenge you to continue to think on your own about every melody in terms of whether the notes are stable or unstable in the accompanying harmony.</p>

<h4>“Mr. Brightside” by The Killers</h4>

<theorytab
	video-path="3/3/08-Killers"
	tab-id="189067"
	url-vars=""
></theorytab>

<p>Here the melody also makes use of unstable scale degrees on strong beats. For example, scale degree 4 on the first beat of the <i>I</i> chord and scale degree 2 on the first beat of the <i>vi</i> chord are both unstable notes on strong beats that resolve to their stable neighbors.</p>

<div 	class="message info"
		ng-if="flashEnabled">
	<p>Tip: you can hover your mouse over any chord to see its stable scale degrees.</p>
</div>



<div class="list card">
	<div class="item item-divider">
    	Check For Understanding
  	</div>
  	<div class="item item-text-wrap">

   		<p>In the following section of “Breakaway” by Kelly Clarkson, there are two unstable scale degrees that occur on weak beats, and two that occur on strong beats.  Identify them.</p>

		<h4>“Breakaway” by Kelly Clarkson</h4>
		<theorytab
			video-path="3/3/09-Clarkson"
			tab-id="189064"
			url-vars=""
		></theorytab>

		<button class="button button-block button-positive button-outline"
			ng-click="show3 = !show3">
			Show Answer
		</button>

		<div ng-if="show3 == true" class="">
			<img src="img/Melody-Breakaway-Identify-b.png">
		</div>
  	</div>
</div>
