<p>The principle of rhythmic consistency pertains to rhythmic ideas, but many songs also choose to integrate patterns into the choice of scale degrees that make up the melody.</p>

<h3>Repetition</h3>

<p>The simplest technique for integrating melodic themes is simply repeating the notes in the melody from phrase to phrase.  The following diagram illustrates what repetition looks like:</p>

<h4>Melodic theme: repetition</h4>
<img src="/assets/img/Melody-Melodic-Themes-Repetition.jpg">

￼
<p>An example of a song that uses repetition is “You’re Beautiful” by James Blunt:</p>

<h4>“You’re Beautiful” by James Blunt</h4>

<theorytab
	video-path="3/5/1-Blunt"
	tab-id="3267"
	url-vars=""
></theorytab>

<p>Another example of a song that uses repetition is “She Will Be Loved” by Maroon 5:</p>

<h4>“She Will Be Loved” by Maroon 5</h4>

<theorytab
	video-path="3/5/2-Maroon"
	tab-id="5165"
	url-vars=""
></theorytab>

<p>Using repetition successfully requires careful planning (or blind luck) because a repeating melody that has not been chosen with care can clash with the underlying harmony, since scale degrees that are stable over one chord are not necessarily stable over another. Songwriters often have to break some of the rules regarding stable and unstable scale degrees in order to make use of repetition. This is where breaking the rules (with artistic license!) allows for more musical creativity and inventiveness.</p>

<p>It turns out some rules are easier to bend than others. Certain chords, for example, are more forgiving than others when it comes to playing unstable scale degrees on strong beats that are not resolved. An unstable scale degree might sound fine over one chord, while sounding dissonant over another. <i>IV</i> chords, for instance, tend to be more accommodating of unstable scale degrees than <i>iii</i> chords (you’ll learn more about <i>iii</i> chords in the next chapter).</p>

<h4><i>IV</i> with unstable scale degree 5 vs. <i>iii</i> with unstable scale degree 4</h4>
<theorytab
	video-path="3.5-Unstable-Picky"
	tab-id="260942"
	url-vars=""
></theorytab>

<p> Your ear is your best guide, but we’ve devised a mnemonic that will help you discern which chords are the most accommodating of unstable scale degrees. Just remember the simple rule that chords that have more “E”’s in their name (thrEE, onE, fivE) are more pickEE when it comes to fitting scale degrees in an overlying melody!</p>

<p><img src="/assets/img/Melody-Chord-Flexibility.png"></p>
￼
<h3>Modified Repetition</h3>

<p>Sometimes songwriters will want to use repetition in their melody but won’t be able to without some egregious rule-breaking. For example, a repeating pattern might sound great over one chord, but not work at all when repeated over the next chord in the progression due to unresolved unstable scale degrees on strong beats. A common technique to deal with this problem involves making small changes to the offending scale degrees so that they fit with the underlying harmony. The result is a melody whose theme basically repeats, but with small variations. This technique is called modified repetition. Compared to (plain) repetition it looks like this:</p>

<h4>Melodic theme: modified repetition</h4>

<img src="/assets/img/Melody-Melodic-Themes-Modified-Repetition.jpg">
￼
<p>An example of a song that uses modified repetition is “Somebody Told Me” by The Killers:</p>

<h4>“Somebody Told Me” by The Killers</h4>

<theorytab
	video-path="3/5/3-Killers"
	tab-id="3265"
	url-vars=""
></theorytab>

<p>Notice the pattern in measure 1 of the scale degrees: 1-1-1-1-6.  This pattern repeats again in measure 2, but in measure 3, the final scale degree 6 would clash with the <i>V</i> chord.  Thus the pattern is modified to: 1-1-1-1-7.</p>


<h3>Sequence</h3>

<p>Another common melodic theme is to shift the basic melodic phrase up or down so that it starts on a scale degree more appropriate for the underlying harmony. This is known as sequence and looks like this:</p>

<h4>Melodic theme: sequence</h4>

<img src="/assets/img/Melody-Melodic-Themes-Sequence.jpg">
￼
<p>Often the amount of shifting between phrases is kept the same. In other words, if the second phrase is shifted one scale degree down from the first phrase, the third idea will also be shifted one scale degree from the second phrase. An example of a song that uses a sequence is “Friends Forever” by Vitamin C. In this case, the same melodic pattern is repeated three times with each phrase starting two scale degrees below the previous one.</p>

<h4>“Friends Forever” by Vitamin C</h4>

<theorytab
	video-path="3/5/4-Vitamin"
	tab-id="2952"
	url-vars=""
></theorytab>

<h3>Summary</h3>

<p>The three common melodic patterns discussed in this section are summarized in the following figure. These patterns are examples to be studied, not a complete set that must be selected from when writing a melody:</p>


<h4>Repetition</h4>
<img src="/assets/img/Melody-Melodic-Themes-Repetition.jpg"><br><br>

<h4>Modified Repetition</h4>
<img src="/assets/img/Melody-Melodic-Themes-Modified-Repetition.jpg"><br><br>

<h4>Sequence</h4>
<img src="/assets/img/Melody-Melodic-Themes-Sequence.jpg">


<p>When writing your melodies, remember that the human mind is as eager to recognize  patterns as it is to look for new ones. Our ears are trained to like what is familiar to us - what we grew up listening to, what we like, what we find interesting. But our minds also crave the original, the novel, and the surprising. If you keep this in mind not just when writing melodies, but in the other aspects of your song as well, you’ll be on your way to writing something great.</p>
