<p>In the following melody, how many notes represent unstable scale degrees?</p>


<theorytab
	video-path="3/6/1-How-Many-Stable-SDs"
	tab-id="5172"
	url-vars=""
></theorytab>


<ol type="a">
	<li>1</li>
	<li>2</li>
	<li>3</li>
	<li>4</li>
</ol>

<button class="button button-block button-positive button-outline"
	ng-click="show1 = !show1">
	Show Answer
</button>

<div ng-if="show1 == true" class="content message info">
	d: scale degree 2 over the <i>I</i> chord; scale degree 3 over the <i>ii</i> chord; scale degree 2 over the <i>vi</i> chord; and scale degree 3 over the <i>V</i> chord.
</div>



<hr>


<p>In the previous melody, how many notes are unstable and on strong beats?</p>

<ol type="a">
	<li>1</li>
	<li>2</li>
	<li>3</li>
	<li>4</li>
</ol>


<button class="button button-block button-positive button-outline"
	ng-click="show2 = !show2">
	Show Answer
</button>

<div ng-if="show2 == true" class="content message info">
	b: scale degree 2 over the <i>vi</i> chord and scale degree 3 over the <i>V</i> chord.  Note that both of these unstable scale degrees (on strong beats) are resolved to a stable scale degree.
</div>




<hr>

<p>In the following melody, which of the following statements is NOT true about scale degree 4 in the third measure?</p>


<theorytab
	video-path="3/6/2-Passing-Notes"
	tab-id="5171"
	url-vars=""
></theorytab>

<ol type="a">
	<li>It is a passing tone that connects scale degrees 5 and 3.</li>
	<li>It is an unstable scale degree but doesn’t need to be resolved.</li>
	<li>It occurs on a weak beat.</li>
	<li>If it was changed to scale degree 6 it would make the melody harmonically incompatible with the harmony.</li>
</ol>


<button class="button button-block button-positive button-outline"
	ng-click="show3 = !show3">
	Show Answer
</button>

<div ng-if="show3 == true" class="content message info">
	d.  Even though scale degree 4 is unstable over the <i>V</i> chord, it is compatible with the harmony because it falls on a weak beat.  Scale degree 6 is also unstable over the <i>V</i> chord; however it would also be compatible due to the fact that the note falls on a weak beat.
</div>



<hr>

<p>One important tool for songwriting is the ability to look at a melody and determine the chords with which it is compatible.  Choosing which chord to use with a given melody is known as harmonizing the melody. Remember that it is common for a melody to contain unstable scale degrees that are not part of the underlying harmony as long as these notes are followed by a stable scale degree if they occur on a strong beat.</p>

Which chords are compatible (as discussed in this chapter) with this melody? Hint: there are three


<theorytab
	video-path="3/6/3-Compatible-With-V"
	tab-id="5170"
	url-vars="bShowAlternates=true"
></theorytab>

<ol type="a">
	<li><i>I</i></li>
	<li><i>ii</i></li>
	<li><i>iii</i></li>
	<li><i>IV</i></li>
	<li><i>V</i></li>
	<li><i>vi</i></li>
</ol>

<button class="button button-block button-positive button-outline"
	ng-click="show4 = !show4">
	Show Answer
</button>

<div ng-if="show4 == true" class="content message info">
	a, d, and f (<i>I</i>, <i>IV</i> and <i>vi</i> chords).  None of the basic chords (<i>I</i>, <i>ii</i>, <i>iii</i>, <i>IV</i>, <i>V</i>, or <i>vi</i>) contain both scale degrees 1 and 7. However, the 7 quickly resolves to scale degree 1 so this melody would be compatible with any chord for which 1 is a stable scale degree (<i>I</i>, <i>IV</i> and <i>vi</i> chords).
</div>


<hr>

<p>How could the previous melody be altered to make it compatible with a <i>V</i> chord while preserving rhythmic structure? Hint: two of the following choices are correct.</p>

a.<br>

<theorytab
	video-path="3/6/Compatible-With-V-A"
	tab-id="5169"
	url-vars=""
></theorytab>
b.<br>

<theorytab
	video-path="3/6/Compatible-With-V-B"
	tab-id="5168"
	url-vars=""
></theorytab>

c.<br>

<theorytab
	video-path="3/6/Compatible-With-V-C"
	tab-id="5167"
	url-vars=""
></theorytab>

d.<br>

<theorytab
	video-path="3/6/Compatible-With-V-D"
	tab-id="5166"
	url-vars=""
></theorytab>

<button class="button button-block button-positive button-outline"
	ng-click="show5 = !show5">
	Show Answer
</button>

<div ng-if="show5 == true" class="content message info">
	a, and b. Lots of melodies would suffice to answer this question.  Both of the correct answers provided changed the unstable scale degree 1 on the strong beat to a stable scale degree.  Another possibility is to leave an unstable scale degree on the strong beat, but resolve it with the next note.
</div>



<hr>

<p>In the following video, we demonstrate how to construct a basic melody using the techniques from this chapter.</p>

<theorytab
	video-path="3/6/4-Modified-Repition-With-Editor"
	tab-id=""
	url-vars=""
></theorytab>

<!--
<div class="youtube-container">
	<iframe
	width="560"
	height="315"
	src="http://www.youtube.com/embed/Y8LIWZw8k0A?autohide=1&rel=0&showinfo=0"
	frameborder="0"
	allowFullScreen>
	</iframe>
</div>
-->

<hr>

<h3>Identifying Melodic Techniques</h3>
<p>Which melodic technique does Taylor Swift use in her song “You Belong With Me”?</p>


<theorytab
	video-path="3/6/5-Taylor-Swift"
	tab-id="2928"
	url-vars=""
></theorytab>

<ol type="a">
	<li>Modified repetition</li>
	<li>Sequence</li>
</ol>

<button class="button button-block button-positive button-outline"
	ng-click="show6 = !show6">
	Show Answer
</button>

<div ng-if="show6 == true" class="content message info">
	a. In this case, the would-be unstable scale degree 6 over the <i>I</i> chord is changed to the stable scale degree 5.
</div>
