<p>The first new chord we will talk about is the <i>iii</i> chord. <i>iii</i> has a sound that feels further away from home base compared to the other basic chords we’ve studied and isn’t used as often. <i>iii</i> also doesn’t have the flexibility of the chords we have learned so far; you will need to use it with care. This is especially true in songs with shorter chord progressions. We will see that the <i>iii</i> has significantly more utility in songs that use longer progressions where there is more time to play around harmonically.</p>

<p>First, let’s listen to an example of a song that uses <i>iii</i> so you can hear how it sounds.</p>

<h4>“Because of You” by Kelly Clarkson</h4>

<theorytab
	video-path="4/1/1-Clarkson"
	tab-id="4509"
	url-vars=""
></theorytab>

<p><i>iii</i> is less common than the other basic chords so when it appears directly after a <i>I</i> chord like this, it definitely gets the listener’s attention. </p>

<p>Here are two common ways that the <i>iii</i> chord is used in a four-chord progression. </p>

<h4>“If We Hold On Together” by Diana Ross</h4>

<theorytab
	video-path="4/1/2-Ross"
	tab-id="189065"
	url-vars=""
></theorytab>

<h4>“So What” by P!nk</h4>

<theorytab
	video-path="4/1/3-Pink"
	tab-id="4510"
	url-vars=""
></theorytab>

<p>Notice that in “If We Hold On Together” by Diana Ross, the progression goes <i>I</i> &rarr; <i>iii</i> &rarr; <i>IV</i>, and in “So What” by P!nk, the progression goes <i>I</i> &rarr; <i>iii</i> &rarr; <i>vi</i>. In general, when you use a <i>iii</i> chord, it should nearly always be followed with a <i>IV</i> or a <i>vi</i>. It is uncommon to follow the <i>iii</i> with any other chord.</p>

<p>To illustrate this point, we’ve examined every song in our TheoryTab library and looked at what chord came after a <i>iii</i> whenever it occurred. The data reinforces the idea that either <i>IV</i> or <i>vi</i> follow the <i>iii</i> in most cases in real songs.</p>

<h4>Chords that come after <i>iii</i></h4>
<!-- move to jpg for FireOS -->
<img src="/assets/img/Harmony-II-iii-Chord-Relative-Frequency.svg">


<p>In practical terms, this means that there isn’t much room for harmonic creativity when using the <i>iii</i> chord in songs with short repeating chord progressions.  The reason for this is that a four-chord progression starting on <i>I</i> has only two chords before it cadences with a <i>IV</i> or a <i>V</i> (<i>iii</i> is not a cadence chord and does not usually work well at the end of a progression).  Since the <i>iii</i> needs to be followed by a <i>IV</i> or a <i>vi</i>, the progression essentially must look like: <i>I</i> &rarr; <i>iii</i> &rarr; (<i>IV</i> or <i>vi</i>) &rarr; (<i>V</i> or <i>IV</i>). This constraint is rather limiting, however it’s worth mentioning that tons of Billboard hits use chord progressions of this form with great success. “Because of You” by Kelly Clarkson (above) is a good example. “The One That Got Away” by Katy Perry (<i>I</i> &rarr; <i>iii</i> &rarr; <i>vi</i> &rarr; <i>IV</i>) is another, shown below.</p>

<h4>“The One That Got Away” by Katy Perry</h4>

<theorytab
	video-path="4/1/4.1-Katy-Perry-The-One-That-Got-Away"
	tab-id="260924"
	url-vars=""
></theorytab>

<p>In songs with longer chord progressions, <i>iii</i> has more flexibility. <i>vi</i> or <i>IV</i> will still come after the <i>iii</i>, but you can also take your time both getting to the <i>iii</i> and maneuvering toward your cadence. The verse of “Night Minds” by Missy Higgins gives a good example of a <i>iii</i> used in a longer progression.</p>

<h4>“Night Minds” by Missy Higgins</h4>

<theorytab
	video-path="4/1/4-Higgins"
	tab-id="4511"
	url-vars=""
></theorytab>

<p>The first half of this example uses a standard <i>I</i> &rarr; <i>V</i> &rarr; <i>IV</i>, but the second half uses <i>iii</i> to change the pattern of the progression. After <i>iii</i> goes to <i>IV</i> the first time, we expect the progression to end with a <i>V</i>. Instead the song prolongs the progression by going back to the <i>iii</i> again before building to the strong <i>IV</i> &rarr; <i>V</i> to end the progression. Part of the reason that the final <i>V</i> sounds so nice here is that the songwriter has built up anticipation for it. Now that you know more chords, it’s easier incorporate tricks like this into a larger more interesting progression.</p>


<div class="list card">
	<div class="item item-divider">
    	Review
  	</div>
  	<div class="item item-text-wrap">

   		<p>What chord makes the most sense in this context?</p>

		<img src="/assets/img/Harmony-II-Chord-Context.png">

		<ol type="a">
			<li><i>IV</i></li>
			<li><i>V</i></li>
			<li><i>vi</i></li>
			<li><i>I</i></li>
		</ol>

		<button class="button button-block button-positive button-outline"
			ng-click="show1 = !show1">
			Show Answer
		</button>

		<div 	ng-if="show1 == true">
			<p><i>IV</i> doesn’t work because scale degree 2 and 3 are unstable over <i>IV</i>.  <i>V</i>, <i>vi</i>, and <i>I</i> are all harmonically compatible with the melody (no unresolved unstable scale degrees on strong beats); however <i>I</i> and <i>V</i> are generally used at the beginning and end of a progression and not as an expansion of <i>iii</i> so <i>vi</i> makes the most sense.</p>

			<theorytab
				video-path="4/1/5-Ex-Context"
				tab-id="5164"
				url-vars=""
			></theorytab>
		</div>
  	</div>
</div>



<p>Another common function of <i>iii</i> is to link <i>IV</i> and <i>vi</i> as is done in “Basketcase” by Green Day</p>


<h4>“Basketcase” by Green Day</h4>

<theorytab
	video-path="4/1/6-Green-Day"
	tab-id="4512"
	url-vars=""
></theorytab>

<p>You may recognize this progression as the progression of the famous classical piece, “Canon in D” by Pachelbel, which has been used countless times in many genres of popular music: </p>

<h4>“Canon In D” by Pachelbel</h4>

<theorytab
	video-path="4/1/7-Pachebel"
	tab-id="4513"
	url-vars=""
></theorytab>

<div class="list card">
	<div class="item item-divider">
    	Review
  	</div>
  	<div class="item item-text-wrap">

   		<p>In which of the following places below would a <i>iii</i> chord be appropriate?</p>

		<img src="/assets/img/Harmony-II-Where-Is-iii-Appropriate.png">

		<ol type="a">
			<li>A only</li>
			<li>B only</li>
			<li>C only</li>
			<li>A and B</li>
			<li>A and C</li>
			<li>A, B, and C</li>
		</ol>

		<button class="button button-block button-positive button-outline"
			ng-click="show2 = !show2">
			Show Answer
		</button>

		<div ng-if="show2 == true" class="">
			<p>d. The <i>iii</i> chord is harmonically compatible with the melody at all three positions (all unstable scale degrees on strong beats get resolved); however, position C should be a cadence chord so <i>iii</i> is not appropriate there.  Below you can listen to the song with a <i>iii</i> chord at positions A and B and a <i>V</i> chord at position C.</p>

			<theorytab
				video-path="4/1/8-Ex-Harmony-Compatible"
				tab-id="5163"
				url-vars=""
			></theorytab>
		</div>
  	</div>
</div>


<div class="list card">
	<div class="item item-divider">
    	Challenge Question
  	</div>
  	<div class="item item-text-wrap">

   		<p>Using your knowledge of how each chord functions in a chord progression (and with the notes in the melody), try to figure out which chords belong in the question marks below.  The <i>I</i> chord at the end is the beginning of a new musical phrase.</p>

		<img src="/assets/img/Harmony-II-Challenge-Question.png">

		<ol type="a">
			<li><i>iii</i>, <i>vi</i>, <i>I</i></li>
			<li><i>iii</i>, <i>I</i>, <i>vi</i></li>
			<li><i>I</i>, <i>iii</i>, <i>IV</i></li>
			<li><i>I</i>, <i>vi</i>, <i>iii</i></li>
			<li><i>IV</i>, <i>I</i>, <i>iii</i></li>
			<li><i>IV</i>, <i>iii</i>, <i>I</i></li>
		</ol>

		<button class="button button-block button-positive button-outline"
			ng-click="show3 = !show3">
			Show Answer
		</button>

		<div ng-if="show3 == true">
			<p>c.  All of the options we listed are compatible with the melody, i.e., unstable scale degrees on strong beats are resolved; however, option c is the only one with a proper cadence leading into the following <i>I</i> chord. Below you can listen to the song with the missing chords filled in. Does it sound familiar?</p>

			<theorytab
				video-path="4/1/9-Ex-Harmony"
				tab-id="5161"
				url-vars=""
			></theorytab>
		</div>
  	</div>
</div>
