<p>Like the <i>iii</i> chord, the <i>ii</i> chord is slightly more harmonically distant than <i>IV</i>, <i>V</i>, and <i>vi</i>. However, unlike the <i>iii</i>, the <i>ii</i> does not have the same restrictions as to which chords should follow it. In fact, the <i>ii</i> is extremely versatile and can be used in a number of different situations. To illustrate this, we’ve made a similar chart to the one in the last section, this time showing the statistics for which chords follow a <i>ii</i> chord in the Theorytab database.</p>

<h4>Chords That Come After <i>ii</i></h4>
<!-- move to jpg for FireOS -->
<img src="/assets/img/Harmony-II-ii-Chord-Relative-Frequency.svg">


<p>One function of <i>ii</i> is as a substitution for a <i>IV</i>. One famous example of this substitution occurred in the so-called “50’s progression”. During the 1950’s, the progression <i>I</i> &rarr; <i>vi</i> &rarr; <i>IV</i> &rarr; <i>V</i> showed up in so many hit songs that people began to take notice. The progression was even lampooned in the musical <i>Grease</i> in the song “Those Magic Changes”</p>

<h4>“Those Magic Changes” by Sha Na Na</h4>

<theorytab
	video-path="4/2/1-Magic"
	tab-id="4524"
	url-vars=""
></theorytab>

<p>Clearly innovation was needed, and songwriters looking for a “fresh” sound struck upon the idea to use the same progression while simply replacing the <i>IV</i> with the slightly more exotic sounding <i>ii</i> chord.  The result was a slew of songs using the much more original <i>I</i> &rarr; <i>vi</i> &rarr; <i>ii</i> &rarr; <i>V</i>. “Sherry” by The Four Seasons is one of many examples from the era:</p>

<h4>“Sherry” by The Four Seasons</h4>
<theorytab
	video-path="4/2/2-Sherry"
	tab-id="4514"
	url-vars=""
></theorytab>

<p>The reason <i>ii</i> can often substitute for <i>IV</i> so nicely is that both chords can function as what are called <b>pre-cadence chords</b>. In the Harmony-I chapter, we talked about the basic structure that most chord progressions follow. After leaving home base, the progression plays around harmonically before getting back to <i>I</i> through a cadence chord:</p>

<h4>Simple Chord Progression</h4>
<img src="/assets/img/Harmony-I-Cadence.png">


<p>In a longer progression, pre-cadence chords smooth the transition to the cadence chord (remember, <i>V</i> is the most common cadence chord in a long progression). Below we show where a pre-cadence chord goes in a general progression:</p>

<h4>Simple Chord Progression With a Pre-Cadence Chord</h4>

<img src="/assets/img/Harmony-I-Cadence-With-PC.jpg">


<p>Along with <i>IV</i>, <i>ii</i> is the most common pre-cadence chord. However, to say that <i>ii</i> is just a substitute for <i>IV</i> in all circumstances is an oversimplification. In shorter progressions, you learned that <i>IV</i> frequently can act as a cadence chord just like <i>V</i>. <i>ii</i>, on the other hand, does not have a strong pull towards <i>I</i>, so it is not normally used to end a chord progression. When <i>IV</i> is acting as a cadence chord, <i>ii</i> is not a good replacement for <i>IV</i>.</p>

<p>In addition to its role as a pre-cadence chord, <i>ii</i> also functions well before or after the <i>IV</i> chord itself. The following example shows the <i>ii</i> chord being used in this way.</p>

<h4>“Who Says You Can’t Go Home” by Bon Jovi</h4>

<theorytab
	video-path="4/2/3-Bon-Jovi"
	tab-id="4515"
	url-vars=""
></theorytab>

<p>Unlike the <i>iii</i> chord, the <i>ii</i> chord offers a fair amount of flexibility even in four-chord progressions. Since the <i>ii</i> is a good pre-cadence chord, it can act as the third chord of the progression: <i>I</i> &rarr; <i>X</i> &rarr; <i>ii</i> &rarr; (<i>IV</i> or <i>V</i>), where <i>X</i> can be a number of chords such as <i>IV</i>, <i>vi</i>, or <i>V</i>. Also <i>ii</i> can act as the second chord: <i>I</i> &rarr; <i>ii</i> &rarr; <i>X</i> &rarr; (<i>IV</i> or <i>V</i>), where there are a number of choices for the third chord before the cadence chord. A common choice for  this chord is the <i>vi</i>,  which serves nicely to set up a cadence on <i>V</i> or <i>IV</i>, as in “Halo” by Beyonce:</p>

<h4>“Halo” by Beyonce</h4>

<theorytab
	video-path="4/2/4-Beyonce"
	tab-id="4516"
	url-vars=""
></theorytab>

<p>In the next chapter we will be introducing you to chord inversions. You’ll see that the <i>ii</i> has some powerful uses when combined with this new chord type.</p>


<div class="list card">
	<div class="item item-divider">
    	Review
  	</div>
  	<div class="item item-text-wrap">
   		
   		Rank the basic chords chords <i>I</i>, <i>ii</i>, <i>iii</i>, <i>IV</i>, <i>vi</i> in order by their utility as a pre-cadence chord.
	
		<button class="button button-block button-positive button-outline"
			ng-click="show1 = !show1">
			Show Answer
		</button>

		<div ng-if="show1 == true" class="content message info">
			<i>IV</i>, <i>ii</i>, <i>I</i>, <i>vi</i>, <i>iii</i>
		</div>	
  	</div>
</div>


<div class="list card">
	<div class="item item-divider">
    	Review
  	</div>
  	<div class="item item-text-wrap">
   		
   		Which of the following is NOT a recommended use of <i>ii</i> in a four-chord progression?
	
		<ol type="a">
			<li><i>I</i> &rarr; <i>ii</i> &rarr; <i>X</i> &rarr; <i>X</i></li>
			<li><i>I</i> &rarr; <i>X</i> &rarr; <i>ii</i> &rarr; <i>X</i></li>
			<li><i>I</i> &rarr; <i>X</i> &rarr; <i>X</i> &rarr; <i>ii</i></li>
		</ol>
	
		<button class="button button-block button-positive button-outline"
			ng-click="show2 = !show2">
			Show Answer
		</button>

		<div ng-if="show2 == true" class="content message info">
			c since <i>ii</i> not generally used as a cadence.
		</div>	
  	</div>
</div>

<div class="list card">
	<div class="item item-divider">
    	Challenge Question
  	</div>
  	<div class="item item-text-wrap">
   		
   		<p>Using your knowledge of how each chord functions in a chord progression (and with the notes in the melody), try to figure out which chords belong in the question marks below.</p>
	
		<img src="/assets/img/Harmony-II-Fireflies-Chord-Match.png">
	
		<ol type="a">
			<li><i>iii</i>, <i>V</i>, <i>I</i>, <i>IV</i></li>
			<li><i>V</i>, <i>iii</i>, <i>I</i>, <i>IV</i></li>
			<li><i>I</i>, <i>iii</i>, <i>IV</i>, <i>V</i></li>
			<li><i>V</i>, <i>IV</i>, <i>I</i>, <i>iii</i></li>
			<li><i>I</i>, <i>IV</i>,<i>iii</i>, <i>V</i></li>
		</ol>
	
		<button class="button button-block button-positive button-outline"
			ng-click="show3 = !show3">
			Show Answer
		</button>

		<div ng-if="show3 == true" class="">
			<p>c.  Below you can listen to the song with the missing chords filled in. It is the chorus of “Fireflies” by Owl City.</p>
			
			<theorytab
				video-path="4/2/5-Fireflies"
				tab-id="5159"
				url-vars=""
			></theorytab>
		</div>	
  	</div>
</div>




