<p>Every chord you’ve learned so far has contained exactly three unique notes (scale degrees). In the introduction chapter we learned that, while there are many ways to arrange these notes to create a chord, under normal circumstances the bottom or root scale degree is always the same (a <i>I</i> chord uses scale degree 1 on the bottom, <i>ii</i> uses scale degree 2, etc.)</p>

<p>Inverted chords do away with this last stipulation and allow the bottom note to be any of notes that make up the chord. When the lowest note or <b>bass</b> note is not the root of the chord, we say that the chord is in an <b>inversion</b>. The basic chords have three notes so there are three possibilities for the bass. When the bass of the chord is just the normal root of the chord (scale degree 1 of a <i>I</i> chord, scale degree 5 of a <i>V</i> chord etc.), we say that the chord is in <b>root position</b>. If instead the next note that makes up the chord is in the bass, the chord is said to be in <b>first inversion</b>. A <i>I</i> chord (which is made up of scale degrees 1, 3, and 5) in first inversion would have scale degree 3 in the bass. When the third note that makes up a chord is in the bass, we say that the chord is in <b>second inversion</b>. In a <i>I</i> chord, this would occur when it is played with scale degree 5 in the bass.</p>

<p>To label whether a chord is in an inversion or not, we follow the convention used by classical musicians. When a chord is in first inversion, a superscript <sup>“6”</sup> is placed next to the chord (i.e. <i>I<sup>6</sup></i>). Second inversion chords are labeled with the numbers “<sup>6</sup><sub>4</sub>” next to them (i.e. <i>I<sup>6</sup><sub>4</sub></i>). The (optional) discussion at the end of this section describes where these naming conventions come from.</p>

<p>The next example shows scale degrees 1, 3, and 5 of a <i>I</i> chord arranged with a different note on the bottom to create each inversion of <i>I</i> (the superscripts and subscripts on the chords will be explained shortly).</p>

<h4>Inversions of <i>I</i></h4>

<theorytab
	video-path="5/1/1-I-Inversions-Expanded"
	tab-id="5182"
	url-vars="bShowSupportNameGraphicRel=true"
></theorytab>

<p>You may have noticed that inverting the chord also changed the color of the chord block. This is a visual indicator that the bass note has changed, for instance to scale degree 3 (first inversion) and scale degree 5 (second inversion) for the <i>I</i> chord.</p>

<p>We have also shown the inversions of a C major chord in the above example below the Roman numerals to give a concrete example of a real chord and its inversions. a C major chord (made up of the notes C, E, and G) is in root position if the lowest note being played is a C. It’s in first inversion if the lowest note being played is an E and is labeled <i>C/E</i> (read “<i>C</i> over E”). It’s in second inversion if the lowest note being played is a G and is labeled <i>C/G</i> (read “<i>C</i> over G”).</p>

<h3>Inversion Naming Conventions</h3>

<p>The following diagram has been annotated to show the intervals between the notes in each inversion and shows the longhand and shorthand names of each inversion.</p>

<h4>Inversion Naming Conventions</h4>

<img src="/assets/img/inversions-of-I-markup.jpg">

<p>To motivate the naming convention for inversions, consider the first inversion <i><i>I<sup>6</sup></i></i> chord in the figure above. Scale degree 3 is in the bass, and if we count up from that we see that the next note, scale degree 5, is three scale degrees above (count 3, 4, 5). Similarly, the other note in the chord is scale degree 1 which is the sixth scale degree above the bass (count 3, 4, 5, 6, 7, 1). Thus, the label <sup>6</sup><sub>3</sub>  is used to indicate the three-scale-degree and six-scale-degree intervals that occur when a chord is in its first inversion. Likewise, the <sup>6</sup><sub>4</sub> next to the <i>I</i> represents the four-scale-degree and six-scale-degree intervals that occur when a chord is in its second inversion.</p>

<p>The short hand abbreviation is preferred by classically trained musicians, so that is what we will use throughout this book.  The take-away is the super script and subscripts represent the interval spacing of the scale degrees that make up the chord. In practice it’s probably easier to just memorize a “<sup>6</sup>” chord is a first inversion chord, and a “<sup>6</sup><sub>4</sub>” chord is a second inversion chord.</p>
