<p>While every chord can be inverted, not all are commonly found in popular music. For now we will be focusing on the most commonly used inversions, and we’ll start with the <i>I<sup>6</sup></i> (read “one six”, the first inversion of <i>I</i>).</p>

<p>When a chord is played in an inversion it has a different sound than its root position counterpart even though all notes that make up the chord are the same. This may seem unintuitive, but the bass note turns out to be very important to our ears. First inversion chords are often described as having a softer feel. The <i>I<sup>6</sup></i>, for example, doesn’t feel nearly as stable as a conventional home base <i>I</i> chord does. The following is an example of a song which uses both a <i>I</i> chord and a <i>I<sup>6</sup></i> chord in the same progression.</p>


<h4>“The Heart of Life” by John Mayer</h4>

<theorytab
	video-path="5-2017-02-18-crf23-r100/5.2-Mayer"
	tab-id="4517"
	url-vars=""
></theorytab>



<p>Can you hear the difference between the two uses? Because inverted chords sound different, they are useful for breaking the monotony of using all root position chords.  Let’s listen to another common use of the <i>I<sup>6</sup></i> chord.</p>

<h4>“The Road And The Radio” by Kenny Chesney</h4>

<theorytab
	video-path="5-2017-02-18-crf23-r100/5.2-Chesney"
	tab-id="4593"
	url-vars=""
></theorytab>

<p>Even though <i>I</i> and <i>I<sup>6</sup></i> have the same notes, moving to the first inversion from the root position <i>I</i> chord provides an interesting if subtle departure from home base. In the actual recording of “The Road and the Radio” by Kenny Chesney, the departure is made even stronger by the extra strong emphasis that the bass note receives in the actual recording. The strength of the bass note acts almost as a second melody, easily hummable by the listener. This is contrasted with the more subtle use of the <i>I<sup>6</sup></i> in “Heart Of Life” by John Mayer.</p>

<p><i>I<sup>6</sup></i> goes to the <i>IV</i> chord in both of the above examples, and this is quite typical. The <i>I<sup>6</sup></i> has scale degree 3 in the bass which has a nice sounding stepwise motion to the neighboring scale degree 4 in the root of the <i>IV</i> chord. Another common use of the <i>I<sup>6</sup></i> takes this stepwise motion one step further and uses it to link <i>ii</i> and <i>IV</i>. Consider the following example:</p>


<h4>“All American Girl” by Carrie Underwood</h4>

<theorytab
	video-path="5-2017-02-18-crf23-r100/5.2-Underwood"
	tab-id="4519"
	url-vars=""
></theorytab>

<p>The <i>I<sup>6</sup></i> is used as an effective bridge between <i>ii</i> and <i>IV</i>. By using <i>I<sup>6</sup></i>, the bass is able to ascend and descend in a continuous fashion with no jumps in scale degrees. While not as strong as the melody itself, the bass often plays important melodic roles in songs. While you don’t have nearly as much flexibility with the bass as you do the melody, a clever songwriter will often use his/her harmonic knowledge to compose an interesting progression that creates a melodic bass line.</p>
