<p><i>V<sup>6</sup></i> (read “five six”, the first inversion of <i>V</i>) is also a commonly used inverted chord in popular music. By using an inversion of <i>V</i>, the usual strong tendency to go back to <i>I</i> is significantly reduced. <i>V<sup>6</sup></i> can precede a <i>I</i> chord but this would usually be in the middle of a progression where it is not desired to have a “cadence” feel to it. One very common use of <i>V<sup>6</sup></i> is to directly expand from <i>I</i>. Listen to “You Look Wonderful Tonight” by Eric Clapton for an example of this usage:</p>

<h4>“You Look Wonderful Tonight” by Eric Clapton</h4>

<theorytab
	video-path="5-2017-02-18-crf23-r100/5.3-Clapton"
	tab-id="4520"
	url-vars=""
></theorytab>

<p>It is also typical to follow the <i>V<sup>6</sup></i> with a <i>vi</i> chord. In the same way that <i>I<sup>6</sup></i> serves as a bridge between <i>ii</i> and <i>IV</i>, <i>V<sup>6</sup></i> can serve as a bridge between <i>I</i> and <i>vi</i>. For an example of how this sounds, listen to “Can You Feel The Love Tonight” by Elton John.</p>

<h4>“Can You Feel The Love Tonight” by Elton John</h4>

<theorytab
	video-path="5-2017-02-18-crf23-r100/5.3-John"
	tab-id="4521"
	url-vars=""
></theorytab>

<p>This song uses the common <i>I</i> &rarr; <i>V</i> &rarr; <i>vi</i> &rarr; <i>IV</i> progression, but the <i>V<sup>6</sup></i> gives a more subtle feel to the <i>V</i>. “I Don’t Want to Miss a Thing” by Aerosmith also starts with this same progression, but instead of using the <i>IV</i> as a cadence to <i>I</i>, they go to <i>I<sup>6</sup></i> instead.</p>

<h4>“I Don’t Want To Miss A Thing” by Aerosmith</h4>

<theorytab
	video-path="5-2017-02-18-crf23-r100/5.3-Aerosmith"
	tab-id="4522"
	url-vars=""
></theorytab>

<p>Because the <i>I</i> is played in an inversion, the progression doesn’t feel like it’s over. The song then uses <i>I<sup>6</sup></i> to go to <i>ii</i>, prolonging the phrase in anticipation of a nice cadence to <i>V</i>.</p>


<div class="list card">
	<div class="item item-divider">
    	Review
  	</div>
  	<div class="item item-text-wrap">

   		<p>The <i>V<sup>6</sup></i> chord has what scale degree in the bass?</p>
		<ol type="a">
			<li>2</li>
			<li>5</li>
			<li>6</li>
			<li>7</li>
		</ol>

		<button class="button button-block button-positive button-outline"
			ng-click="show1 = !show1">
			Show Answer
		</button>

		<div ng-if="show1 == true" class="content message info">
			d
		</div>
  	</div>
</div>


<div class="list card">
	<div class="item item-divider">
    	Review
  	</div>
  	<div class="item item-text-wrap">

   		<p>In “Ever Ever After” by Carrie Underwood (from the motion picture <i>Enchanted</i>), the bass line ascends stepwise all the way from the initial <i>I<sup>6</sup></i> to the cadence on <i>V</i>. Write down the appropriate chords for the ?s.</p>

		<img src="/assets/img/Inversions-Ever-Ever-After.png">


		<!--
		<ol type="a">
			<li><i>V<sup>6</sup></i>,<i>IV</i>, <i>I<sup>6</sup></i>, <i>V</i></li>
			<li><i>IV</i>, <i>V</i>, <i>V<sup>6</sup></i>, <i>I<sup>6</sup></i></li>
			<li> <i>I<sup>6</sup></i>, <i>V</i>, <i>V<sup>6</sup></i>,<i>IV</i></li>
		</ol>
		-->

		<button class="button button-block button-positive button-outline"
			ng-click="show2 = !show2">
			Show Answer
		</button>

		<div ng-if="show2 == true" class="">
			<p><i>I<sup>6</sup></i> &rarr; <b><i>IV</i></b> &rarr; <b><i>V</i></b> &rarr; <i>vi</i> &rarr; <b><i>V<sup>6</sup></i></b> &rarr; <i>I</i> &rarr; <i>ii</i> &rarr; <b><i>I<sup>6</sup></i></b> &rarr; <i>IV</i> &rarr; <i>V</i>.  Below you can listen to the song with the missing chords filled in.</p>
			
			<theorytab
				video-path="5/3/4-Ex-Ever-Ever-After"
				tab-id="4578"
				url-vars=""
			></theorytab>
		</div>
  	</div>
</div>
