<p>The <i>I</i> chord is also commonly heard in second inversion. Second inversion chords are abbreviated <sup>6</sup><sub>4</sub>. In the key of C, a second inversion <i>I</i> chord, or <i>I<sup>6</sup><sub>4</sub></i>  (read “one six four”), is just a C major chord with a G played in the bass. So far, the inverted chords we’ve studied have functioned much like their root position equivalents. However, this is often not the case for the <i>I<sup>6</sup><sub>4</sub></i>. One of the most important uses of <i>I<sup>6</sup><sub>4</sub></i> is immediately before a strong cadential <i>V</i> chord. The combination of a <i>I<sup>6</sup><sub>4</sub></i> and <i>V</i> creates a strong cadential effect. This is so common in music that it has been given a special name - the “cadential <i>I<sup>6</sup><sub>4</sub></i>”. An example of a song that uses the cadential <i>I<sup>6</sup><sub>4</sub></i> is below:</p>

<h4>“I Do It For You” by Bryan Adams</h4>

<theorytab
	video-path="5/4/1-Adams"
	tab-id="5184"
	url-vars=""
></theorytab>


<p><i>I<sup>6</sup><sub>4</sub></i> and <i>V</i> have such a strong cadential feel together that they shouldn’t be repeated over and over again in a short progression. In fact, one of the most typical uses of <i>I<sup>6</sup><sub>4</sub></i> &rarr; <i>V</i> is to end a song. Typically the <i>V</i> would cadence directly to a strong final <i>I</i> chord. Here is an example of a song that uses the cadential <i>I<sup>6</sup><sub>4</sub></i> to end the song:</p>

<h4>“Circle of Life” from the motion picture <i>The Lion King</i></h4>

<theorytab
	video-path="5/4/2-Lion-King"
	tab-id="4526"
	url-vars=""
></theorytab>

<p>Notice that “Circle of Life” doesn’t actually go directly to the <i>I</i> from <i>V</i> because an extra <i>IV</i> chord has been inserted to prolong the progression for a full measure. When our ears hear <i>I<sup>6</sup><sub>4</sub></i> &rarr; <i>V</i>, they really expect to hear a <i>I</i>.  Creating a sense of anticipation for a particular chord and then going to a different one instead creates what is known as a “deceptive cadence.”  Although we will not cover in detail the theory behind deceptive cadences here, using deception is yet another way in which you as the songwriter can create tension and resolution in your chord progressions.</p>


<p>While using <i>I<sup>6</sup><sub>4</sub></i> as a pre-cadence to <i>V</i> is the most common use of <i>I<sup>6</sup><sub>4</sub></i>, it does have other uses as well. As with the other inversions we’ve learned, it is typical to use the scale degree in the bass to link neighboring chords (in this case the chords <i>IV</i> and <i>vi</i>). Here is an example of a song that uses this technique along with other inverted chords to create a descending bass line. <!--The bass line is written below the melody.--></p>

<h4>“Let Your Hair Down” by MAGIC</h4>

<theorytab
	video-path="5.4-MAGIC-Let-Your-Hair-Down"
	tab-id="260939"
	url-vars="bForceVoice1=true"
></theorytab>

<div class="list card">
	<div class="item item-divider">
    	Review
  	</div>
  	<div class="item item-text-wrap">

   		<p><i>I<sup>6</sup><sub>4</sub></i> has what scale degree in the bass?</p>
		<ol type="a">
			<li>1</li>
			<li>2</li>
			<li>3</li>
			<li>4</li>
			<li>5</li>
		</ol>

		<button class="button button-block button-positive button-outline"
			ng-click="show1 = !show1">
			Show Answer
		</button>

		<div ng-if="show1 == true" class="content message info">
			e
		</div>
  	</div>
</div>


<div class="list card">
	<div class="item item-divider">
    	Review
  	</div>
  	<div class="item item-text-wrap">

   		<p>The most common use of the <i>I<sup>6</sup><sub>4</sub></i> is to strongly end a chord progression (often to end a song). What chords follow the <i>I<sup>6</sup><sub>4</sub></i> when it is functioning in this way?</p>

		<ol type="a">
			<li><i>ii</i>, <i>I</i></li>
			<li><i>V</i>, <i>I</i></li>
			<li><i>V</i>, <i>I<sup>6</sup></i><sub>4</sub></li>
			<li><i>I</i>, <i>V</i></li>
		</ol>

		<button class="button button-block button-positive button-outline"
			ng-click="show2 = !show2">
			Show Answer
		</button>

		<div ng-if="show2 == true" class="content message info">
			b
		</div>
  	</div>
</div>





<h3>Other Chords in Second Inversion</h3>

<p>Second inversion chords in general are much less common than first inversion chords. In fact, seeing a <sup>6</sup><sub>4</sub> on any other chord than <i>I</i> is rare in popular music.  However, every now and then a song pops up that finds a new and creative way to incorporate a second inversion chord. Recently both Adele and One Republic have made use of a chord that had essentially been unused in popular music: the <i>iii<sup>6</sup><sub>4</sub></i>.</p>



<div class="list card">
	<div class="item item-divider">
    	Review
  	</div>
  	<div class="item item-text-wrap">

   		<p>What scale degree does a <i>iii<sup>6</sup><sub>4</sub></i> have in the bass?</p>
		<ol type="a">
			<li>3</li>
			<li>5</li>
			<li>6</li>
			<li>7</li>
		</ol>

		<button class="button button-block button-positive button-outline"
			ng-click="show3 = !show3">
			Show Answer
		</button>

		<div ng-if="show3 == true" class="content message info">
			d
		</div>
  	</div>
</div>


<p>Recall that the <i>iii</i> chord in root position is relatively inflexible in that it generally must be followed by a <i>IV</i> or a <i>vi</i> chord.  Since the <i>iii<sup>6</sup><sub>4</sub></i> does not have the tenacity of its root position complement, this rule does not necessarily apply, although going to <i>vi</i> or <i>IV</i> is still a good idea.</p>


<div class="list card">
	<div class="item item-divider">
    	Review
  	</div>
  	<div class="item item-text-wrap">

   		<p>Using your knowledge of popular harmony so far, see if you can figure out what the <i>iii<sup>6</sup><sub>4</sub></i> might be used for:</p>

		<ol type="a">
			<li>As a bridge between connect <i>I</i> and <i>vi</i></li>
			<li>As a general replacement for <i>V<sup>6</sup></i></li>
			<li>Both a and b</li>
			<li>None of the above</li>
		</ol>

		<button class="button button-block button-positive button-outline"
			ng-click="show4 = !show4">
			Show Answer
		</button>

		<div ng-if="show4 == true" class="content message info">
			c
		</div>
  	</div>
</div>



<p>Here is a demonstration of the <i>iii<sup>6</sup><sub>4</sub></i> linking <i>I</i> and <i>vi</i>.  Compare this with the progression for “Can You Feel The Love Tonight” in the previous section.</p>

<h4>“Secrets” by One Republic</h4>

<theorytab
	video-path="5/4/4-One-Republic"
	tab-id="5185"
	url-vars=""
></theorytab>