<p>Inversions are a great technique to add a little extra complexity to a song consisting of only vanilla root position chords. However be forewarned,  many aspiring songwriters, upon learning about inversions for the first time, will begin writing songs in which every chord is inverted. Don’t do this!</p>

<p>Inversions are usually most effective when used sparingly. If you make every chord an inversion, the effect is lost. Many pop songs don’t use any inversions at all, so keep this in mind if you find yourself writing a song and wondering when to incorporate them. Below you’ll find a few more optional exercises to familiarize yourself with inversions</p>

<hr>

<p>Which of the following chords has the same bass note as a <i>V<sup>6</sup></i></p>

<ol type="a">
	<li><i>I</i></li>
	<li><i>iii</i></li>
	<li><i>IV<sup>6</sup><sub>4</sub></i></li>
	<li><i>iii<sup>6</sup><sub>4</sub></i></li>
	<li><i>IV<sup>6</sup></i></li>
	<li><i>ii<sup>6</sup><sub>4</sub></i></li>
</ol>


<button class="button button-block button-positive button-outline"
	ng-click="show1 = !show1">
	Show Answer
</button>

<div ng-if="show1 == true" class="content message info">
	d
</div>
	


<hr>

<p>What is the bass scale degree of a IV<sup>6</sup> chord?</p>

<ol type="a">
	<li>7</li>
	<li>4</li>
	<li>5</li>
	<li>6</li>
</ol>

<button class="button button-block button-positive button-outline"
	ng-click="show2 = !show2">
	Show Answer
</button>

<div ng-if="show2 == true" class="content message info">
	d
</div>
	

<hr>

<p>What is the bass scale degree of a <i>ii<sup>6</sup></i> chord?</p>

<ol type="a">
	<li>1</li>
	<li>2</li>
	<li>4</li>
	<li>5</li>
</ol>

<button class="button button-block button-positive button-outline"
	ng-click="show3 = !show3">
	Show Answer
</button>

<div ng-if="show3 == true" class="content message info">
	c
</div>


<hr>

<p>In the key C, what is the bass note of a <i>I<sup>6</sup></i><sub>4</sub> chord?</p>

<ol type="a">
	<li>C</li>
	<li>B</li>
	<li>G</li>
	<li>E</li>
	<li>F</li>
</ol>

<button class="button button-block button-positive button-outline"
	ng-click="show4 = !show4">
	Show Answer
</button>

<div ng-if="show4 == true" class="content message info">
	c
</div>



<hr>


<p>What is the progression <i>ii</i> &rarr; <i>I<sup>6</sup></i> &rarr; <i>IV</i> &rarr; <i>V</i> in the key of C?</p>

<ol type = "a">
	<li>dm &rarr; C &rarr; F &rarr; G</li>
	<li>dm &rarr; C/G &rarr; F &rarr; G</li>
	<li>dm &rarr; C/E &rarr; F &rarr; G</li>
	<li>dm &rarr; C/E &rarr; G &rarr; F</li>
</ol>

<button class="button button-block button-positive button-outline"
	ng-click="show5 = !show5">
	Show Answer
</button>

<div ng-if="show5 == true" class="content message info">
	c
</div>


<hr>

<p>To help you familiarize yourself with inverted chords, the next example can be used to see common inversions in every key.</p>

<h4>Common Inversions</h4>

<theorytab
	video-path="5/6/1-Common-Inversions"
	tab-id="5183"
	url-vars=""
></theorytab>