
<p>We hope we’ve convinced you that exploring the structure of music gives one a deeper more fundamental sense for how it works. We believe, and we hope you do too now, that knowing the why behind it all is not just interesting but an essential part of being a complete musician.</p>

<p>In <i>Hooktheory I</i> you learned the importance of analyzing music without respect to a particular key; you learned how the basic chords are used; and you learned the basic concepts that go into writing a good melody.  But the truth is, <i>Hooktheory I</i> only scratched the surface of what is musically possible.</p>

<p><i>Hooktheory II</i> (the sequel) begins right where <i>Hooktheory I</i> left off and gives you deeper insight into composing richer, more sophisticated music. <i>II</i> teaches you how to use seventh chords, embellishments, secondary chords, minor harmony, modes, and modal mixture to expand and enrich your songwriting. <i>II</i> teaches using the same approach used in <i>Hooktheory I</i> and includes <b>83 interactive exercises and 228 audiovisual examples</b>.  When you’re ready to take chords and melodies to the next level, <i>Hooktheory II</i> is waiting for you.</p>

<a 	class="button button-block button-positive button-outline"
    ng-click="ii()"
    target="blank">Learn more about <i>Hooktheory II</i>
</a>


<p>Thank you so much for purchasing and reading <i>Hooktheory I</i>; we really hope you enjoyed it.

<!--
<h3>Share Your Thoughts</h3>
<p>We always love to hear from our readers.  If you have a few minutes to spare, we invite you to <a href="http://itunes.apple.com/us/book/hooktheory-music-theory-for/id533715898?mt=11&uo=4" target="itunes_store">write a review of <i>Hooktheory I</i> in the Apple iBookstore.</a></p>
-->


<h3>Credits</h3>
<p><i>Hooktheory I</i> is a Hooktheory, LLC production.<br>
Created by Ryan Miyakawa, David Carlton, and Chris Anderson<br>
Copyright &copy; 2016 Hooktheory LLC. All rights reserved.<br>
</p>

<div ng-include src=" 'templates/review-goodreads.html' "></div>



