<div>
	<!--<h1 class="title">The music theory book you’ll love.</h1>-->
	
	<h1 class="tight">Hooktheory I</h1>
	By Ryan Miyakawa, David Carlton, and Chris Anderson
	
	<img 	src="img/chapter-image/3.svg" 
			style="margin-top: 20px;"
			alt="Cover of Hooktheory I: The music theory book you’ll love">
	
	

	<h2>What people are saying:</h2>
	
	<style type="text/css">
	#twitter-widget-0{width: 100%;}
	#twitter-widget-1{width: 100%;}
	#twitter-widget-2{width: 100%;}
	#twitter-widget-3{width: 100%;}
	#twitter-widget-4{width: 100%;}
	</style>
	
	
	<table class="quote no-border">
		<tr>
			<td class="icon"><i class="fa fa-quote-left"></i></td>
			<td><b>Outstanding! <span style="white-space: nowrap;"><i class="fa fa-star rating"></i> <i class="fa fa-star rating"></i> <i class="fa fa-star rating"></i> <i class="fa fa-star rating"></i> <i class="fa fa-star rating"></i></span></b><br>A great explanation of music theory, and the relationship between melody and chord progressions. Having the video/audio examples built-in makes this book really stand apart from others I have read. I wish all music books were made this way!<cite>Jeffrey Hall (iBooks review)</cite>
			</td>
		</tr>
	</table>
	
	
	<table class="quote no-border">
		<tr>
			<td class="icon"><i class="fa fa-quote-left"></i></td>
			<td><b>Worthy of multiple re-reads <span style="white-space: nowrap;"><i class="fa fa-star rating"></i> <i class="fa fa-star rating"></i> <i class="fa fa-star rating"></i> <i class="fa fa-star rating"></i> <i class="fa fa-star rating"></i></span></b><br><i>Hooktheory I</i> was a great book. In less time than it takes to learn how to play an instrument I learned how music works! I have been looking for a resource that made writing music comprehensible.  This is that resource.  The graphs and explanations were clear and easy to follow.  The various examples from popular songs helped a great deal. <cite>Jeremiah Spassion (iBooks review)</cite>
			</td>
		</tr>
	</table>
	
	<table class="quote no-border">
		<tr>
			<td class="icon"><i class="fa fa-quote-left"></i></td>
			<td><b>Loved this book! <span style="white-space: nowrap;"><i class="fa fa-star rating"></i> <i class="fa fa-star rating"></i> <i class="fa fa-star rating"></i> <i class="fa fa-star rating"></i> <i class="fa fa-star rating"></i></span></b><br>The explanations are easy to understand and the audiovisual examples made the concepts easy to internalize.<cite>@harlandjp (iBooks review)</cite>
			</td>
		</tr>
	</table>
	
	<h2>Preface</h2>

	
	<p>Hooktheory is a modern take on music theory that has answers to the questions other books leave out. 
	</p>
	<p>Why do certain chords fit together easily, and others not so easily? How can 
	I get from this chord to that chord? How can I create a great sounding melody?
	</p>
	<p>Hooktheory I has already answered these questions and others like them for 
	thousands of guitarists, pianists, singers, DJs, producers, and students all over the world.</p>
	<p>The concepts are applicable to all types of music, but examples are drawn from 
	popular songs you’ve probably heard on the radio. Lastly, because the explanations 
	are drawn from our TheoryTab format, even people that don’t read conventional sheet 
	music can benefit from the concepts we cover. </p>
	
	
	<h2>Integrated With Other Parts of the Hooktheory Ecosystem</h2>
		
	<!--<p>The book is filled with interactive examples that make great use our TheoryTab 		visualizations. TheoryTabs make it easy to see and hear what is going on in a song. <a href="http://www.hooktheory.com/analysis/about">Learn more about TheoryTabs.</a></p>
	-->
	
	<p>Hooktheory I was written from the ground up to be used alongside our free Hookpad music editing software. Hookpad simplifies songwriting by helping you choose chords that sound good together and guiding you to write a good melody. It’s musical sketchpad with music theory "built-in" to make it easier and more intuitive to find the sound you’re looking for. <a href="http://www.hooktheory.com/editor/about">Learn more about Hookpad<!--<i class="icon ion-chevron-right"></i>-->.</a></p>  
	

	<h2>About the Authors</h2>
	<!--<h2 class="tight-top">So who’s behind this?</h2>-->
	<p>Hey there.  We’re David Carlton, Chris Anderson, and Ryan Miyakawa - the Hooktheory team (left to right). We all have Ph.D’s from U.C. Berkeley.  Our shared passion for music and education led to the creation of Hooktheory in 2011.</p>

	<img 	src="img/team.jpg"
			alt="The Hooktheory team: David Carlton, Chris Anderson, and Ryan Miyakawa" 
			style="margin-bottom: 20px;">
	

	<!--
	<h2>What if I don’t like it?</h2>
	<p>If you don’t love this book, we will gladly refund your money. Just send us an email at <?php printf('%s', Obfuscate::emailLink()); ?> with your receipt and we will issue you a full refund.</p>
	-->
	
	<!--
	<h2>What about other formats?</h2>
	<p>Since <i>Hooktheory I</i> uses so many interactive examples, it is only available for web browsers and iBooks (iPad/OSX Mavericks). Other formats like .ePub, .mobi, and .pdf don’t support as rich of an experience so we have not released the book in those formats.</p>
	-->
	
	<h2>Do I have to be able to read sheet music?</h2>
	<p>No. <i>Hooktheory I</i> uses TheoryTabs to explain the function of chords and melody so knowledge of conventional sheet music isn’t necessary. </p>
	
	<h2>What if I have questions?</h2>
	<p>We are here to help and we love to talk with our readers.  To get help, ask a question, etc. you can:</p>  
	
	
		<a 	class="button button-block button-positive button-outline"
			href="http://www.facebook.com/hooktheory"
			target="blank">Leave us a message on Facebook
		</a>
	
		<a 	class="button button-block button-positive button-outline"
			href="mailto:support@hooktheory.com"
			target="blank">Email us
		</a>

	
	<p>We make our best effort to respond to all inquiries within 24 hours.</p>
	


	<h2>Let’s begin</h2>
	
	<!-- icon-right ion-chevron-right -->
	<a 	 
		
		href="{{ loc }}#/read/1/1" 
		class="button button-block button-positive button-outline">Start reading!
  	</a>
	
	
	<!--<a href="#/read/1/1">Up Next: The Building Blocks of Music <i class="icon ion-ios7-arrow-right"></i></a>
	-->

</div>




