.fa.link:hover {
	cursor: pointer;
	color: #222222;
}

/* */

.fa.link:active {
	color: #000000;
}

.fa.li {
	font-size: 1.3em;
}

.fa.li-big {
	font-size: 1.5em;
}

.difficulty-empty {
	color: #FFFFFF;
}

$icon_alpha: 0.2;

.difficulty-beginner {
	color: rgb(92,184, 92);
}
.difficulty-beginner.alpha {
	color: rgba(92,184, 92, $icon_alpha);
}


.difficulty-intermediate {
	color: rgb(72, 0, 255);
}
.difficulty-intermediate.alpha {
	color: rgba(72, 0, 255, $icon_alpha);
}

.difficulty-advanced {
	color: rgb(51, 51, 51);
}
.difficulty-advanced.alpha {
	color: rgba(51, 51, 51, $icon_alpha);
}

.difficulty-preview {
	color: #CCC;
}

.alpha {

}

.fa.header {
	color: $header_fa_color;
}


.rating {
	color: #FF8801;
}
