
<h1><i>Hooktheory II</i></h1>

<h3>Take your chords and melodies to the next level.</h3>

<p><i>Hooktheory II</i> begins right where <i>Hooktheory I</i> left off and gives you deeper insight into composing richer, more sophisticated music. <i>II</i> teaches you how to use seventh chords, embellishments, secondary chords, minor harmony, modes, and modal mixture to expand and enrich your songwriting. <i>II</i> teaches using the same fun, easy to understand approach used in <i>Hooktheory I</i> and includes <b>83 interactive exercises and 228 audiovisual examples</b>.  When you’re ready to take chords and melodies to the next level, <i>Hooktheory II</i> is waiting for you.</p>


<a 	class="button button-block button-positive button-outline"
	ng-click="ii()"
	target="blank">Learn more
</a>
