<h1>Write a Review</h1>
<p>We always love to hear from our readers.  If you have a few minutes to spare, we invite you to rate <i>Hooktheory I</i> on Goodreads.</p>

<h3>Instructions</h3>

<ol style="list-style-type: decimal;">


	<li>Visit the <a href="https://www.goodreads.com/book/show/22430591-hooktheory-i" target="blank"><i>Hooktheory I</i> page</a> on Goodreads.
	</li>
	<li>As shown below, choose 1 - 5 stars just below the book cover:

	<img 	src="img/rate-goodreads-stars.png"
		alt="Rate Hooktheory I on Goodreads">
	</li>
	<li>If you are not logged in to Goodreads when you rate the book, you will be directed to the Goodreads signup page.  Create an account or login if you already have one.
	</li>
	<li>If you have time, write a review:
		<img 	src="img/rate-goodreads-review.png"
		alt="Review Hooktheory I on Goodreads">
	</li>

	<li>If you want to be extra helpful, add <i>Hooktheory I</i> to your "music theory" shelf on Goodreads:

	<img 	src="img/rate-goodreads-shelf-2.png"
		alt="Add Hooktheory I to the music theory shelf on Goodreads">

		<p>This will help Hooktheory's positioning on Goodread's <a href="https://www.goodreads.com/shelf/show/music-theory">popular music theory books list</a> and in search results for "music theory".</p>

	</li>

	<li><b>If you want to be <i>extra</i> extra helpful</b>, create a “songwriting” shelf as well and add <i>Hooktheory I</i> to it! This will help <i>Hooktheory I</i>’s position on Goodreads’ <a href="https://www.goodreads.com/shelf/show/songwriting">popular songwriting books list</a>.</li>
</ol>


<!--
<p style="font-size:0.8em;">*If you don't already have a Goodreads account, you can create one right on the homepage (Goodreads is awesome, you'll love it.)</p>
-->

<h3 class="tight">Thank you so much!</h3>
<p>- Ryan, Dave, and Chris<p>
